@font-face
{
    font-family: Raleway-Regular;
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face
{
    font-family: Raleway-SemiBold;
    src: url('fonts/Raleway-SemiBold.ttf');
}

@font-face
{
    font-family: Raleway-Bold;
    src: url('fonts/Raleway-Bold.ttf');
}

@font-face
{
    font-family: Raleway-Medium;
    src: url('fonts/Raleway-Medium.ttf');
}

#header-conteneur
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 20px 60px;
    width: 84%;
}

nav a
{
    font-size: 13px;
    color: #0065FC;
    font-family: Raleway-Medium;
    text-decoration: none;
    margin-right: 50px;
}

a[href="#section-hébergements-les-plus-populaires"]:hover
{    
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px;
}

a[href="#section-activités-à-Marseille"]
{
    color: black;
}

a[href="#section-activités-à-Marseille"]:hover
{
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px
}

a[href="inscription"]
{
    font-family: Raleway-Bold;
}

a[href="inscription"]:hover
{
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px;
}

.section-principale
{
    display: flex;
    flex-direction: column;
    margin: 20px 110px 0px 60px;
}

.section-titre
{
	font-size: 18px;
    font-family: Raleway-Bold;
    margin-bottom: 0px;
}

.section-texte
{
    font-size: 14px;
    font-family: Raleway-Regular;
    margin-top: 5px;
}

form
{
    display: flex;
}

mark
{
    font-size: 15px;
    background-color: #F2F2F2;
    padding: 12px 13px 12px 15px;
    border-radius: 13px 1px 1px 13px;
}

input
{
    border: 1px #F2F2F2 solid;
    border-width: 1px 0px 1px 0px;
    width: 190px;
}

button
{
    background-color: #0065FC;
    border: 1px solid;
    padding: 0px 12px 0px 15px;
    border-radius: 1px 13px 13px 1px;
    color: white;
    font-family: Raleway-SemiBold;
}

.logo-loupe
{
    display: none;
}

.section-filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: baseline; 
    margin: 30px 0px 30px 0px;
}

.texte-filtre
{
    font-size: 15px;
    font-family: Raleway-Bold;
}

.section-filtres-2
{
    display: flex;
}

a[href="liens-section-filtres"]
{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

a[href="liens-section-filtres"]:hover
{
    text-decoration: underline;
    color: blue;
}

.filtre-economique
{
    display: flex;
    align-items: center;
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 99px 99px 99px 99px;
    padding-right: 20px;
    font-family: Raleway-Bold;
    margin: 0px 20px 0px 20px;
}

.fa-money-bill-wave
{
    color: #0065FC;
    font-size: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #DEEBFF;
    padding: 12px 11px 12px 11px;
}

.filtre-familial
{
    display: flex;
    align-items: center;
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 99px 99px 99px 99px;
    font-family: Raleway-Bold;
    margin-right: 20px;
    padding-right: 20px;
}

.fa-child
{
    color: #0065FC;
    font-size: 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 12px 15px 12px 15px;
}

.filtre-romantique
{
    display: flex;
    align-items: center;
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 30px 30px 30px 30px;
    padding-right: 15px;
    font-family: Raleway-Bold;
    margin-right: 20px;
}

.fa-heart
{
    color: #0065FC;
    font-size: 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 12px 13px 12px 13px;
}

.filtre-animauxautorisés
{
    display: flex;
    align-items: center;
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 40px 40px 40px 40px;
    padding-right: 15px;
    font-family: Raleway-Bold; 
}

.fa-dog
{
    color: #0065FC;
    font-size: 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 12px 13px 12px 13px;
}

.fa-info
{
    margin-right: 5px;
    font-size: 10px;
    color: #0065FC;
    border: 1px #F2F2F2 solid;
    border-radius: 10px 10px 10px 10px;
    padding: 4px 7px 4px 7px;
}

#section-hébergements-les-plus-populaires
{
    display: flex;
}

.section-hébergements
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 10px 0px 30px;
    margin: 20px 30px 50px 50px;
    width: 50%;
    height: 500px;
}

.section-titre-hébergements-à-Marseille
{
    font-family: Raleway-Bold;
    font-size: 18px;
    margin: 13px 0px 15px 0px;
}

.ligne-hébergements
{
    display: flex;
    flex-wrap: wrap;
}

.cases-hébergements
{
    padding: 3px 5px 2px 3px;
    border: 1px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    width: 190px;
    height: 160px;
    margin: 0px 20px 10px 0px;
}

img[src="images/hebergements/small/marcusloke.jpg"]
{
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

.titres-hébergements
{
    font-family: Raleway-Bold;
    font-size: 13px;
    margin: 1px 0px 0px 8px;
}

a[href="liens-hébergements"]
{
    text-decoration: none;
    color: black;
}

.textes-hébergements
{
    font-family: Raleway-Regular;
    font-size: 12px;
    margin: 4px 0px 5px 8px;
}

.logo-4-étoiles
{
    display: flex;
    align-items: baseline;
    font-size: 11px;
    color: #0065FC;
    margin-left: 8px;
}

.logo-étoile-grise
{
    color: #F2F2F2;
    display: flex;
    align-items: baseline;
    font-size: 11px;
}

img[src="images/hebergements/small/fredkleber.jpg"]
{
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

.logo-5-étoiles
{
    display: flex;
    margin-left: 8px;
    font-size: 11px;
    color: #0065FC;
}

img[src="images/hebergements/small/reisetopia.jpg"]
{
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

img[src="images/hebergements/small/anniespratt.jpg"]
{
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

.logo-3-étoiles
{
    display: flex;
    align-items: baseline;
    margin-left: 8px;
    font-size: 10px;
    color: #0065FC;
    font-size: 11px;
}

.afficherplus
{
    font-family: Raleway-Bold;
    margin: 30px 0px 0px 15px;
    font-size: 15px;
}

img[src="images/hebergements/small/nicatelee.jpg"]
{
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

img[src="images/hebergements/small/febrianzakaria.jpg"]
{
    width: 100%;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

.section-les-plus-populaires
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0px 40px 10px 30px;
    height: 510px;
    width: 22%;
    margin-top: 20px;
}

.section-titre-les-plus-populaires
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway-Bold;
    font-size: 12px;
    margin: 18px 0px 4px 0px;
}

.fa-chart-line
{
    font-size: 17px;
}

.cases-les-plus-populaires
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 0px 0px 20px 0px;
    padding: 3px 10px 1px 3px;
    width: 100%;
    height: 125px;
}

img[src="images/hebergements/small/emileguillemot.jpg"]
{
    width: 45%;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    object-fit: cover;
}

.bloc-texte-les-plus-populaires
{
    margin: 10px 0px 0px 10px;
}

a[href="liens-les-plus-populaires"]
{
    text-decoration: none;
    color: black;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.textes-les-plus-populaires
{
    font-family: Raleway-Regular;
    font-size: 12px;
    margin-top: 5px;
}

.logo-5-étoiles-populaires
{
    display: flex;
    margin-top: 40px;
    font-size: 11px;
    color: #0065FC;
}

img[src="images/hebergements/small/awcreative.jpg"]
{
    width: 45%;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    object-fit: cover;
}

.logo-4-étoiles-populaires
{
    display: flex;
    align-items: baseline;
    margin-top: 40px;
    font-size: 11px;
    color: #0065FC;
}

img[src="images/hebergements/small/febrianzakariaa.jpg"]
{
    width: 45%;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    object-fit: cover;
}

#section-activités-à-Marseille
{
    margin: 0px 0px 50px 50px;
}

.section-titre-activités-à-Marseille
{
    font-family: Raleway-Bold;
    font-size: 19px;
    margin: 0px 0px 20px 0px;
}

.ligne-horizontal-section-activités-à-Marseille
{
    display: flex;
    justify-content: flex-start;
}

.case-vieux-port-et-parc-des-calanques
{
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 248px;
    height: 368px;
    margin-right: 36px;
}

img[src="images/activites/small/renolaithienne.jpg"]
{
    width: 100%;
    height: 325px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

a[href="liens-section-activités-à-Marseille"]
{
    text-decoration: none;
    color: black;
    margin-left: 14px;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.ligne-verticale-section-activités-à-Marseille
{
    display: flex;
    flex-direction: column;
}

.case-Fort-de-Pomègues
{
    margin: 0px 40px 35px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 4px #F2F2F2;
    width: 245px;
    height: 214px;
}

img[src="images/activites/small/paulhermann.jpg"]
{
    height: 170px;   
    width: 100%;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

.case-îles-du-Frioul
{
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px 4px #F2F2F2;
    width: 245px;
    height: 110px;
}

img[src="images/activites/small/kevinhikari.jpg"]
{
    width: 100%;
    height: 75px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

img[src="images/activites/small/kilyansockalingum.jpg"]
{
    width: 100%;
    height: 325px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

.case-notre-dame-de-la-garde
{
    border-radius: 20px;
    box-shadow: 1px 1px 5px 4px #F2F2F2;
    height: 154px;
    width: 250px;
    margin: 0px 0px 40px 0px;
}

img[src="images/activites/small/florianwehde.jpg"]
{
    height: 110px;
    width: 100%;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

.case-parc-longchamp
{
    border-radius: 20px;
    box-shadow: 1px 1px 5px 4px #F2F2F2;
    height: 174px;
    width: 250px;
    margin: 0px 0px 40px 0px;
}

img[src="images/activites/small/lenapaulin.jpg"]
{
    width: 100%;
    height: 130px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

.pied-de-la-page
{
    display: flex;
    justify-content: space-between;
    border-radius: 1px 1px 1px 1px;
    background-color: #F2F2F2;
    padding: 20px 320px 20px 50px;
    width: 63%;
}

.sections-pied-de-la-page
{
    display: flex;
    flex-direction: column;
}

.sections-titre-pied-de-la-page
{
    font-family: Raleway-bold;
    font-size: 15px;
}

a[href="liens-pied-de-la-page"]
{
    margin-bottom: 10px;
    font-family: Raleway-Regular;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

@media all and (min-width: 320px) and (max-width: 424px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 20px 0px 10px 0px;
        width: 100%;
        display: block;
    }

    img[src="images/logo/Reservia.svg"]
    {
        margin-left: 10px;
    }

    nav
    {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px 0px 0px;
    }

    a[href="inscription"]
    {
        margin: 0px;
        position: absolute;
        top: 40px;
        right: 15px;
        font-size: 15px;
    }

    a[href="inscription"]:hover
    {
        padding: 0px;
        border-top: 0px;
    }

    a[href="#section-hébergements-les-plus-populaires"]
    {
        margin: 0px;
        padding: 0px 0px 0px 30px;
        font-size: 15px;
    }

    a[href="#section-hébergements-les-plus-populaires"]:hover
    {
        padding: 0px 40px 0px 40px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

    a[href="#section-activités-à-Marseille"]
    {
        margin: 0px;
        padding: 0px 55px 0px 0px;
        font-size: 15px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        padding: 0px 50px 0px 50px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

    .section-principale
    {
        margin: 0px;
    }

    .section-titre
    {
        font-size: 21px;
        margin-left: 15px;
    }

    form
    {
        display: flex;
        margin-left: 15px;
    }

    input
    {
        width: 200px
    }

    button
    {
        padding: 0px;
        border: 0px;
        width: 40px;
        border-radius: 10px;
    }

    .logo-loupe
    {
        display: block;
    }

    .texte-rechercher
    {
        display: none;
    }

    .section-filtres
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .section-filtres-2
    {
        display: flex;
        flex-wrap: wrap;
    }

    .filtre-economique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 155px;
    }

    .filtre-familial
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 120px;
    }

    .filtre-romantique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 150px;
    }
    
    .filtre-animauxautorisés
    {
        padding: 0px;
        width: 200px;
        margin: 0px 0px 10px 0px;
    }
    
    .section-texte
    {
        font-size: 14px;
        margin-left: 15px;
    }

    #section-hébergements-les-plus-populaires
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .section-les-plus-populaires
    {
        padding: 0px;
        border-radius: 0px;
        width: 100%;
    }

    .section-titre-les-plus-populaires
    {
        margin: 10px 20px 10px 20px;
    }

    a[href="liens-les-plus-populaires"]
    {
        font-size: 14px;
    }

    .textes-les-plus-populaires
    {
        font-size: 12px;
    }

    .logo-5-étoiles-populaires
    {
        font-size: 12px;
    }

    .logo-4-étoiles-populaires
    {
        font-size: 12px;
        align-items: baseline;
    }

    .cases-les-plus-populaires
    {
        width: 85%;
        height: 122px;
        margin: 0px 0px 20px 15px;
    }   

    .section-titre-hébergements-à-Marseille
    {
        margin: 10px 0px 15px 20px;
    }

    .section-hébergements
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        margin: 20px 0px 0px 0px; 
    }

    .titres-hébergements
    {
        font-size: 14px;
    }

    .textes-hébergements
    {
        font-size: 13px;
    }

    .logo-4-étoiles
    {
        font-size: 12px;
        align-items: baseline;
    }

    .logo-5-étoiles
    {
        font-size: 12px;
    }

    .logo-3-étoiles
    {
        font-size: 12px;
    }

    .cases-hébergements
    {
        height: 160px;
        width: 89%;
        margin: 0px 0px 10px 13px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #F2F2F2;
    }

    img[src="images/hebergements/small/marcusloke.jpg"]
    {
        height: 100px;
        width: 100%;
    }

    img[src="images/hebergements/small/fredkleber.jpg"]
    {
        height: 100px;
        width: 100%;
    }

    img[src="images/hebergements/small/reisetopia.jpg"]
    {
        height: 100px;
        width: 100%;
    }

    img[src="images/hebergements/small/anniespratt.jpg"]
    {
        height: 100px;
        width: 100%;
    }

    img[src="images/hebergements/small/nicatelee.jpg"]
    {
        height: 100px;
        width: 100%;
    }

    img[src="images/hebergements/small/febrianzakaria.jpg"]
    {
        height: 100px;
        width: 100%;
    }

    .afficherplus
    {
        margin: 20px 0px 0px 20px;
        font-size: 14px;
    }

    #section-activités-à-Marseille
    {
        margin: 700px 0px 20px 0px;
    }

    .section-titre-activités-à-Marseille
    {
        margin: 0px 0px 20px 15px;
    }
    
    .ligne-horizontal-section-activités-à-Marseille
    {
        flex-direction: column;
        margin: 0px;
    }

    a[href="liens-section-activités-à-Marseille"]
    {
        font-size: 14px;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        margin: 0px 0px 20px 15px;
        width: 91%;
        height: 145px;
    }

    img[src="images/activites/small/renolaithienne.jpg"]
    {
        height: 100px;
        width: 100%;
        margin-bottom: 10px;
    }

    .case-Fort-de-Pomègues
    {
        margin: 0px 0px 20px 15px;
        width: 91%;
        height: 145px;
    }

    img[src="images/activites/small/paulhermann.jpg"]
    {
        height: 100px;
        width: 100%;
        margin-bottom: 10px;
    }

    .case-îles-du-Frioul
    {
        margin: 0px 0px 20px 15px;
        width: 91%;
        height: 135px;
    }

    img[src="images/activites/small/kevinhikari.jpg"]
    {
        height: 100px;
        width: 100%;
        margin-bottom: 10px;
    }

    img[src="images/activites/small/kilyansockalingum.jpg"]
    {
        height: 100px;
        width: 100%;
        margin-bottom: 10px;
    }

    .case-notre-dame-de-la-garde
    {
        margin: 0px 0px 20px 15px;
        width: 91%;
        height: 145px;
    }

    img[src="images/activites/small/florianwehde.jpg"]
    {
        height: 100px;
        width: 100%;
        margin-bottom: 10px;
    }

    .case-parc-longchamp
    {
        margin: 0px 0px 20px 15px;
        width: 91%;
        height: 145px;
    }

    img[src="images/activites/small/lenapaulin.jpg"]
    {
        height: 100px;
        width: 100%;
        margin-bottom: 10px;
    }

    .pied-de-la-page
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px 0px 0px 20px;
        width: 94%;
    }

    .sections-pied-de-la-page
    {
        padding-bottom: 20px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 16px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 14px;
    }
}
 
@media all and (min-width: 425px) and (max-width: 525px)
{  
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 20px 0px 10px 0px;
        width: 100%;
        display: block;
    }

    img[src="images/logo/Reservia.svg"]
    {
        margin-left: 15px;
        width: 110px;
    }

    nav
    {
        display: flex;
        justify-content: space-between;
        margin: 20px 0px 0px 0px;
    }

    a[href="inscription"]
    {
        margin: 0px;
        font-size: 16px;
        position: absolute;
        top: 45px;
        right: 15px;
    }

    a[href="inscription"]:hover
    {
        padding: 0px;
        border-top: 0px;
    }

    a[href="#section-hébergements-les-plus-populaires"]
    {
        margin: 0px;
        padding: 0px 0px 0px 35px;
        font-size: 16px;
    }

    a[href="#section-hébergements-les-plus-populaires"]:hover
    {
        padding: 0px 50px 0px 50px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

    a[href="#section-activités-à-Marseille"]
    {
        margin: 0px;
        padding: 0px 55px 0px 0px;
        font-size: 16px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        padding: 0px 70px 0px 70px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

    .section-principale
    {
        margin: 0px;
    }

    .section-titre
    {
        font-size: 29px;
        margin-left: 15px;
    }

    .section-texte
    {
        margin: 10px 0px 20px 15px;
        font-size: 20px;
    }

    form
    {
        display: flex;
        margin: 20px 0px 0px 15px;
    }

    input
    {
        width: 280px;
    }

    button
    {
        padding: 0px;
        border: 0px;
        width: 40px;
        border-radius: 10px;
    }

    .logo-loupe
    {
        display: block;
    }

    .texte-rechercher
    {
        display: none;
    }

    .section-filtres
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .texte-filtre
    {
        font-size: 18px;
    }

    .section-filtres-2
    {
        display: flex;
        flex-wrap: wrap;
    }

    .filtre-economique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 160px;
        font-size: 15px;
    }

    .filtre-familial
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 125px;
        font-size: 15px;
    }

    .filtre-romantique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 155px;
        font-size: 15px;
    }
    
    .filtre-animauxautorisés
    {
        padding: 0px;
        width: 205px;
        margin: 0px 0px 10px 0px;
        font-size: 15px;
    }
    
    #section-hébergements-les-plus-populaires
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .section-les-plus-populaires
    {
        padding: 20px 0px 0px 0px;
        border-radius: 0px;
        width: 100%;
        height: 850px;
    }

    .section-titre-les-plus-populaires
    {
        margin: 0px 30px 0px 20px;
        font-size: 17px;
    }

    .fa-chart-line
    {
        font-size: 20px;
    }

    .cases-les-plus-populaires
    {
        height: 225px;
        width: 88%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #f2f2f2;
        display: flex;
        flex-direction: column;
    }

    img[src="images/hebergements/small/emileguillemot.jpg"]
    {
        height: 130px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/awcreative.jpg"]
    {
        height: 130px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/febrianzakariaa.jpg"]
    {
        height: 130px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    a[href="liens-les-plus-populaires"]
    {
        font-size: 16px;
    }

    .textes-les-plus-populaires
    {
        margin: 5px 0px 5px 0px;
        font-size: 14px;
    }

    .logo-5-étoiles-populaires
    {
        margin: 0px;
        font-size: 14px;
    }

    .logo-4-étoiles-populaires
    {
        margin: 0px;
        font-size: 14px;
    }  

    .section-titre-hébergements-à-Marseille
    {
        margin: 10px 0px 15px 20px;
        font-size: 22px;
    }

    .section-hébergements
    {
        width: 95%;
        background-color: white;
        padding: 0px;
        display: flex;
        flex-direction: column;
        margin: 20px 0px 0px 0px;
    }

    .cases-hébergements
    {
        height: 205px;
        width: 93%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #F2F2F2;
    }

    img[src="images/hebergements/small/marcusloke.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    img[src="images/hebergements/small/fredkleber.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    img[src="images/hebergements/small/reisetopia.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    img[src="images/hebergements/small/anniespratt.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    img[src="images/hebergements/small/nicatelee.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    img[src="images/hebergements/small/febrianzakaria.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    .titres-hébergements
    {
        font-size: 16px;
        margin-top: 5px;
    }

    .textes-hébergements
    {
        font-size: 14px;
    }

    .logo-4-étoiles
    {
        font-size: 14px;
    }

    .logo-5-étoiles
    {
        font-size: 14px;
    }

    .logo-3-étoiles
    {
        font-size: 14px;
    }

    .afficherplus
    {
        margin: 20px 0px 0px 20px;
        font-size: 18px;
    }

    #section-activités-à-Marseille
    {
        margin: 1000px 0px 20px 0px;
    }

    .section-titre-activités-à-Marseille
    {
        margin: 0px 0px 20px 15px;
    }
    
    .ligne-horizontal-section-activités-à-Marseille
    {
        flex-direction: column;
        margin: 0px;
    }

    a[href="liens-section-activités-à-Marseille"]
    {
        font-size: 14px;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        margin: 0px 0px 20px 20px;
        width: 90%;
        height: 175px;
    }

    img[src="images/activites/small/renolaithienne.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    .case-Fort-de-Pomègues
    {
        margin: 0px 0px 20px 20px;
        width: 90%;
        height: 175px;
    }

    img[src="images/activites/small/paulhermann.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    .case-îles-du-Frioul
    {
        margin: 0px 0px 20px 20px;
        width: 90%;
        height: 165px;
    }

    img[src="images/activites/small/kevinhikari.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    img[src="images/activites/small/kilyansockalingum.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        margin: 0px 0px 20px 20px;
        width: 90%;
        height: 175px;
    }

    img[src="images/activites/small/florianwehde.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    .case-parc-longchamp
    {
        margin: 0px 0px 20px 20px;
        width: 90%;
        height: 175px;
    }

    img[src="images/activites/small/lenapaulin.jpg"]
    {
        height: 130px;
        width: 100%;
    }

    .pied-de-la-page
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px 0px 0px 20px;
        width: 96%;
    }

    .sections-pied-de-la-page
    {
        padding-bottom: 20px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 16px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 14px;
    }
}

@media all and (min-width: 526px) and (max-width: 767px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 20px 0px 10px 0px;
        width: 100%;
        display: block;
    }

    img[src="images/logo/Reservia.svg"]
    {
        margin-left: 15px;
        width: 120px;
    }

    nav
    {
        display: flex;
        justify-content: space-between;
    }

    a[href="#section-hébergements-les-plus-populaires"]
    {
        margin: 0px;
        padding: 0px 0px 0px 30px;
        font-size: 16px;
    }

    a[href="#section-hébergements-les-plus-populaires"]:hover
    {
        padding: 0px 40px 0px 40px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

    a[href="#section-activités-à-Marseille"]
    {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        padding: 0px 70px 0px 70px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

    a[href="inscription"]
    {
        margin: 0px;
        font-size: 16px;
        padding: 0px 50px 0px 0px;
    }

    a[href="inscription"]:hover
    {
        padding: 0px 70px 0px 70px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

    .section-principale
    {
        margin: 0px;
    }

    .section-titre
    {
        font-size: 30px;
        margin-left: 15px;
    }

    .section-texte
    {
        margin: 10px 0px 20px 15px;
        font-size: 17px;
    }

    form
    {
        display: flex;
        margin: 20px 0px 0px 15px;
    }

    input
    {
        width: 280px;
    }

    button
    {
        padding: 0px;
        border: 0px;
        width: 40px;
        border-radius: 10px;
    }

    .logo-loupe
    {
        display: block;
    }

    .texte-rechercher
    {
        display: none;
    }

    .section-filtres
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .texte-filtre
    {
        font-size: 18px;
    }

    .section-filtres-2
    {
        display: flex;
        flex-wrap: wrap;
    }

    .filtre-economique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 145px;
        font-size: 14px;
    }

    .filtre-familial
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 115px;
        font-size: 14px;
    }

    .filtre-romantique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 145px;
        font-size: 14px;
    }
    
    .filtre-animauxautorisés
    {
        padding: 0px;
        width: 190px;
        margin: 0px 0px 10px 0px;
        font-size: 14px;
    }
    
    #section-hébergements-les-plus-populaires
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .section-les-plus-populaires
    {
        padding: 20px 0px 0px 0px;
        border-radius: 0px;
        width: 100%;
        height: 300px;
    }

    .section-titre-les-plus-populaires
    {
        margin: 0px 40px 0px 20px;
        font-size: 15px;
    }

    .fa-chart-line
    {
        font-size: 20px;
    }

    .ligne-les-plus-populaires
    {
        display: flex;
        justify-content: space-evenly;
    }

    .cases-les-plus-populaires
    {
        height: 175px;
        width: 30%;
        margin: 0px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #f2f2f2;
        display: flex;
        flex-direction: column;
    }

    img[src="images/hebergements/small/emileguillemot.jpg"]
    {
        height: 80px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/awcreative.jpg"]
    {
        height: 80px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/febrianzakariaa.jpg"]
    {
        height: 80px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    a[href="liens-les-plus-populaires"]
    {
        font-size: 16px;
    }

    .textes-les-plus-populaires
    {
        margin: 5px 0px 5px 0px;
        font-size: 14px;
    }

    .logo-5-étoiles-populaires
    {
        margin: 0px;
        font-size: 14px;
    }

    .logo-4-étoiles-populaires
    {
        margin: 0px;
        font-size: 14px;
    }   

    .section-titre-hébergements-à-Marseille
    {
        margin: 10px 0px 15px 15px;
        font-size: 22px;
    }

    .section-hébergements
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        display: flex;
        flex-direction: column;
        margin: 40px 0px 0px 0px;
    }

    .ligne-hébergements
    {
        justify-content: space-evenly;
    }

    .cases-hébergements
    {
        height: 155px;
        width: 45%;
        margin: 0px 0px 10px 0px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #F2F2F2;
    }

    img[src="images/hebergements/small/marcusloke.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/hebergements/small/fredkleber.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/hebergements/small/reisetopia.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/hebergements/small/anniespratt.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/hebergements/small/nicatelee.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/hebergements/small/febrianzakaria.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .titres-hébergements
    {
        font-size: 16px;
        margin-top: 5px;
    }

    .textes-hébergements
    {
        font-size: 14px;
    }

    .logo-4-étoiles
    {
        font-size: 14px;
    }

    .logo-5-étoiles
    {
        font-size: 14px;
    }

    .logo-3-étoiles
    {
        font-size: 14px;
    }

    .afficherplus
    {
        margin: 20px 0px 0px 15px;
        font-size: 16px;
    }

    #section-activités-à-Marseille
    {
        margin: 160px 0px 20px 0px;
        display: flex;
        flex-wrap: wrap;
    }

    .section-titre-activités-à-Marseille
    {
        margin: 0px 0px 20px 15px;
        font-size: 22px;
    }
    
    .ligne-horizontal-section-activités-à-Marseille
    {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    a[href="liens-section-activités-à-Marseille"]
    {
        font-size: 15px;
        margin-top: 20px;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        margin: 0px 0px 20px 0px;
        width: 46%;
        height: 120px;
    }

    img[src="images/activites/small/renolaithienne.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .ligne-verticale-section-activités-à-Marseille
    {
        display: contents;
    }

    .case-Fort-de-Pomègues
    {
        margin: 0px 0px 20px 0px;
        width: 46%;
        height: 120px;
    }

    img[src="images/activites/small/paulhermann.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .case-îles-du-Frioul
    {
        margin: 0px 0px 20px 0px;
        width: 46%;
        height: 110px;
    }

    img[src="images/activites/small/kevinhikari.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/activites/small/kilyansockalingum.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        margin: 0px 0px 20px 0px;
        width: 46%;
        height: 120px;
    }

    img[src="images/activites/small/florianwehde.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .case-parc-longchamp
    {
        margin: 0px 0px 20px 0px;
        width: 46%;
        height: 120px;
    }

    img[src="images/activites/small/lenapaulin.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .pied-de-la-page
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px 0px 0px 20px;
        width: 96%;
    }

    .sections-pied-de-la-page
    {
        padding-bottom: 20px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 16px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 14px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 20px 0px 10px 0px;
        width: 100%;
        display: block;
    }

    img[src="images/logo/Reservia.svg"]
    {
        margin-left: 15px;
        width: 130px;
    }

    nav
    {
        display: flex;
        justify-content: space-between;
    }

    a[href="#section-hébergements-les-plus-populaires"]
    {
        margin: 0px;
        padding: 0px 0px 0px 30px;
        font-size: 16px;
    }

    a[href="#section-hébergements-les-plus-populaires"]:hover
    {
        padding: 0px 40px 0px 40px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

    a[href="#section-activités-à-Marseille"]
    {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        padding: 0px 70px 0px 70px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

    a[href="inscription"]
    {
        margin: 0px;
        font-size: 16px;
        padding: 0px 80px 0px 0px;
    }

    a[href="inscription"]:hover
    {
        padding: 0px 70px 0px 70px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

    .section-principale
    {
        margin: 0px;
    }

    .section-titre
    {
        font-size: 30px;
        margin-left: 15px;
    }

    .section-texte
    {
        margin: 10px 0px 20px 15px;
        font-size: 20px;
    }

    form
    {
        display: flex;
        margin: 20px 0px 0px 15px;
    }

    input
    {
        width: 280px;
    }

    button
    {
        padding: 0px;
        border: 0px;
        width: 40px;
        border-radius: 10px;
    }

    .logo-loupe
    {
        display: block;
    }

    .texte-rechercher
    {
        display: none;
    }

    .section-filtres
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .texte-filtre
    {
        font-size: 18px;
    }

    .section-filtres-2
    {
        display: flex;
        flex-wrap: wrap;
    }

    .filtre-economique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 145px;
        font-size: 14px;
    }

    .filtre-familial
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 115px;
        font-size: 14px;
    }

    .filtre-romantique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 145px;
        font-size: 14px;
    }
    
    .filtre-animauxautorisés
    {
        padding: 0px;
        width: 190px;
        margin: 0px 0px 10px 0px;
        font-size: 14px;
    }
    
    #section-hébergements-les-plus-populaires
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .section-les-plus-populaires
    {
        padding: 20px 0px 0px 0px;
        border-radius: 0px;
        width: 100%;
        height: 300px;
    }

    .section-titre-les-plus-populaires
    {
        margin: 0px 40px 0px 20px;
        font-size: 15px;
    }

    .fa-chart-line
    {
        font-size: 20px;
    }

    .ligne-les-plus-populaires
    {
        display: flex;
        justify-content: space-evenly;
    }

    .cases-les-plus-populaires
    {
        height: 185px;
        width: 30%;
        margin: 0px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #f2f2f2;
        display: flex;
        flex-direction: column;
    }

    img[src="images/hebergements/small/emileguillemot.jpg"]
    {
        height: 90px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/awcreative.jpg"]
    {
        height: 90px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/febrianzakariaa.jpg"]
    {
        height: 90px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    a[href="liens-les-plus-populaires"]
    {
        font-size: 16px;
    }

    .textes-les-plus-populaires
    {
        margin: 5px 0px 5px 0px;
        font-size: 14px;
    }

    .logo-5-étoiles-populaires
    {
        margin: 0px;
        font-size: 14px;
    }

    .logo-4-étoiles-populaires
    {
        margin: 0px;
        font-size: 14px;
    }   

    .section-titre-hébergements-à-Marseille
    {
        margin: 10px 0px 15px 15px;
        font-size: 22px;
    }

    .section-hébergements
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        display: flex;
        flex-direction: column;
        margin: 40px 0px 0px 0px;
    }

    .ligne-hébergements
    {
        justify-content: space-evenly;
    }

    .cases-hébergements
    {
        height: 155px;
        width: 30%;
        margin: 0px 0px 10px 0px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #F2F2F2;
    }

    img[src="images/hebergements/small/marcusloke.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/hebergements/small/fredkleber.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/hebergements/small/reisetopia.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/hebergements/small/anniespratt.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/hebergements/small/nicatelee.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/hebergements/small/febrianzakaria.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .titres-hébergements
    {
        font-size: 16px;
        margin-top: 5px;
    }

    .textes-hébergements
    {
        font-size: 14px;
    }

    .logo-4-étoiles
    {
        font-size: 14px;
    }

    .logo-5-étoiles
    {
        font-size: 14px;
    }

    .logo-3-étoiles
    {
        font-size: 14px;
    }

    .afficherplus
    {
        margin: 20px 0px 0px 15px;
        font-size: 16px;
    }

    #section-activités-à-Marseille
    {
        margin: 0px 0px 20px 0px;
        display: flex;
        flex-wrap: wrap;
    }

    .section-titre-activités-à-Marseille
    {
        margin: 0px 0px 20px 15px;
        font-size: 22px;
    }
    
    .ligne-horizontal-section-activités-à-Marseille
    {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    a[href="liens-section-activités-à-Marseille"]
    {
        font-size: 15px;
        margin: 20px 0px 0px 10px; 
    }

    .case-vieux-port-et-parc-des-calanques
    {
        margin: 0px 0px 20px 0px;
        width: 30%;
        height: 119px;
    }

    img[src="images/activites/small/renolaithienne.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .ligne-verticale-section-activités-à-Marseille
    {
        display: contents;
    }

    .case-Fort-de-Pomègues
    {
        margin: 0px 0px 20px 0px;
        width: 30%;
        height: 120px;
    }

    img[src="images/activites/small/paulhermann.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .case-îles-du-Frioul
    {
        margin: 0px 0px 20px 0px;
        width: 30%;
        height: 110px;
    }

    img[src="images/activites/small/kevinhikari.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    img[src="images/activites/small/kilyansockalingum.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        margin: 0px 0px 20px 0px;
        width: 30%;
        height: 121px;
    }

    img[src="images/activites/small/florianwehde.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .case-parc-longchamp
    {
        margin: 0px 0px 20px 0px;
        width: 30%;
        height: 120px;
    }

    img[src="images/activites/small/lenapaulin.jpg"]
    {
        height: 80px;
        width: 100%;
    }

    .pied-de-la-page
    {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .sections-pied-de-la-page
    {
        margin: 20px 20px 20px 20px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 16px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 14px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1365px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 40px 0px 20px 10px;
        width: 100%;
    }

    img[src="images/logo/Reservia.svg"]
    {
        width: 140px;
    }

    nav a
    {
        font-size: 16px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        border-top: 2px solid blue;
        padding: 40px 30px 0px 30px
    }

    .section-principale
    {
        margin: 20px 110px 0px 10px;
    }

    .section-titre
    {
        font-size: 22px;
    }

    .section-texte
    {
        font-size: 18px;
    }

    input
    {
        width: 255px;
    }

    #section-hébergements-les-plus-populaires
    {
        width: 102%;
    }

    .section-hébergements
    {
        width: 55%;
        margin: 20px 30px 50px 10px;
    }

    .section-titre-hébergements-à-Marseille
    {
        font-size: 20px;
        margin: 13px 0px 15px 5px;
    }

    .cases-hébergements
    {
        width: 28%;
    }

    .logo-4-étoiles
    {
        font-size: 12px;
    }

    .logo-étoile-grise
    {
        font-size: 12px;
    }

    .logo-5-étoiles
    {
        font-size: 12px;
    }

    .logo-3-étoiles
    {
        font-size: 12px;
    }

    .afficherplus
    {
        margin: 30px 0px 0px 10px;
    
    }

    .section-les-plus-populaires
    {
        width: 28%;
    }

    .section-titre-les-plus-populaires
    {
        font-size: 14px;
    }

    .cases-les-plus-populaires
    {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }

    #section-activités-à-Marseille
    {
        margin: 0px 0px 50px 0px;
    }

    .section-titre-activités-à-Marseille
    {
        font-size: 21px;
        margin: 0px 0px 20px 15px;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        width: 25%;
        margin: 0px 0px 0px 10px;
    }

    .ligne-verticale-section-activités-à-Marseille
    {
        margin: 0px 10px 0px 25px;
        width: 20%;
    }

    .case-Fort-de-Pomègues
    {
        width: 100%;
        margin: 0px 0px 35px 0px;
    }

    .case-îles-du-Frioul
    {
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        width: 100%;
    }

    .case-parc-longchamp
    {
        width: 100%;
    }

    .pied-de-la-page
    {
        width: 100%;
        padding: 0px;
    }

    .sections-pied-de-la-page
    {
        margin: 20px 20px 20px 20px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 16px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 14px;
    }
}

@media all and (min-width: 1366px) and (max-width: 1700px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 40px 0px 20px 100px;
        width: 85%;
    }

    img[src="images/logo/Reservia.svg"]
    {
        width: 140px;
    }

    nav a
    {
        font-size: 16px;
    }

    .section-principale
    {
        margin: 20px 110px 0px 100px;
    }

    .section-titre
    {
        font-size: 22px;
    }

    .section-texte
    {
        font-size: 18px;
    }

    input
    {
        width: 245px;
    }

    #section-hébergements-les-plus-populaires
    {
        width: 93%;
    }

    .section-hébergements
    {
        width: 55%;
        margin: 20px 30px 50px 100px;
    }

    .section-titre-hébergements-à-Marseille
    {
        font-size: 20px;
        margin: 13px 0px 15px 5px;
    }

    .cases-hébergements
    {
        width: 28%;
    }

    .logo-4-étoiles
    {
        font-size: 12px;
    }

    .logo-étoile-grise
    {
        font-size: 12px;
    }

    .logo-5-étoiles
    {
        font-size: 12px;
    }

    .logo-3-étoiles
    {
        font-size: 12px;
    }

    .afficherplus
    {
        margin: 30px 0px 0px 10px;
    
    }

    .section-les-plus-populaires
    {
        width: 22%;
    }

    .section-titre-les-plus-populaires
    {
        font-size: 14px;
    }

    .cases-les-plus-populaires
    {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }

    #section-activités-à-Marseille
    {
        margin: 0px 0px 50px 100px;
    }

    .section-titre-activités-à-Marseille
    {
        font-size: 21px;
        margin: 0px 0px 20px 15px;
    }

    .ligne-horizontal-section-activités-à-Marseille
    {
        width: 100%;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        width: 20%;
        margin: 0px 0px 0px 10px;
    }

    .ligne-verticale-section-activités-à-Marseille
    {
        margin: 0px 10px 0px 25px;
        width: 20%;
    }

    .case-Fort-de-Pomègues
    {
        width: 100%;
        margin: 0px 0px 35px 0px;
    }

    .case-îles-du-Frioul
    {
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        width: 100%;
    }

    .case-parc-longchamp
    {
        width: 100%;
    }

    .pied-de-la-page
    {
        width: 60%;
        padding: 20px 287px 20px 30px;
        margin: 0px 0px 0px 90px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 16px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 14px;
    }
}

@media all and (min-width: 1701px) and (max-width: 2560px)
{
    body
    {
        width: 100%;
        margin: 0px 0px 0px 50px;
    }

    #header-conteneur
    {
        margin: 40px 0px 20px 0px;
        width: 94%;
    }

    img[src="images/logo/Reservia.svg"]
    {
        width: 200px;
    }

    nav a
    {
        font-size: 25px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        border-top: 2px solid blue;
        padding: 40px 30px 0px 30px
    }

    .section-principale
    {
        margin: 20px 110px 0px 0px;
    }

    .section-titre
    {
        font-size: 22px;
    }

    .section-texte
    {
        font-size: 18px;
    }

    input
    {
        width: 255px;
    }

    #section-hébergements-les-plus-populaires
    {
        width: 106%;
    }

    .section-hébergements
    {
        width: 55%;
        margin: 20px 30px 50px 0px;
    }

    .section-titre-hébergements-à-Marseille
    {
        font-size: 20px;
        margin: 13px 0px 15px 5px;
    }

    .cases-hébergements
    {
        width: 28%;
    }

    .logo-4-étoiles
    {
        font-size: 12px;
    }

    .logo-étoile-grise
    {
        font-size: 12px;
    }

    .logo-5-étoiles
    {
        font-size: 12px;
    }

    .logo-3-étoiles
    {
        font-size: 12px;
    }

    .afficherplus
    {
        margin: 30px 0px 0px 10px;
    
    }

    .section-les-plus-populaires
    {
        width: 28%;
    }

    .section-titre-les-plus-populaires
    {
        font-size: 14px;
    }

    .cases-les-plus-populaires
    {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }

    #section-activités-à-Marseille
    {
        margin: 0px 0px 50px 0px;
    }

    .section-titre-activités-à-Marseille
    {
        font-size: 21px;
        margin: 0px 0px 20px 15px;
    }

    .ligne-horizontal-section-activités-à-Marseille
    {
        width: 104%;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        width: 24%;
        margin: 0px 0px 0px 10px;
    }

    .ligne-verticale-section-activités-à-Marseille
    {
        margin: 0px 10px 0px 25px;
        width: 20%;
    }

    .case-Fort-de-Pomègues
    {
        width: 100%;
        margin: 0px 0px 35px 0px;
    }

    .case-îles-du-Frioul
    {
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        width: 100%;
    }

    .case-parc-longchamp
    {
        width: 100%;
    }

    .pied-de-la-page
    {
        width: 81%;
        padding: 20px 287px 20px 10px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 16px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 14px;
    }
}