@font-face
{
    font-family: Raleway-Regular;
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face
{
    font-family: Raleway-SemiBold;
    src: url('fonts/Raleway-SemiBold.ttf');
}

@font-face
{
    font-family: Raleway-Bold;
    src: url('fonts/Raleway-Bold.ttf');
}

@font-face
{
    font-family: Raleway-Medium;
    src: url('fonts/Raleway-Medium.ttf');
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 20px 50px;
}

nav a
{
    font-size: 14px;
    color: #0065FC;
    font-family: Raleway-Medium;
    text-decoration: none;
    margin-right: 50px;
}

a[href="#section-hebergements"]:hover
{    
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px;
}

a[href="#section-activites"]
{
    color: black;
}

a[href="#section-activites"]:hover
{
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px
}

a[href="inscription"]
{
    font-family: Raleway-Bold;
}

a[href="inscription"]:hover
{
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px;
}

.section-principale
{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.section-titre
{
	font-size: 18px;
    font-family: Raleway-Bold;
    margin-bottom: 0px;
}

.section-texte
{
    font-size: 14px;
    font-family: Raleway-Regular;
    margin-top: 5px;
}

mark
{
    font-size: 15px;
    background-color: #F2F2F2;
    padding: 12px 13px 12px 15px;
    border-radius: 13px 1px 1px 13px;
}

input
{
    border: 1px #F2F2F2 solid;
    font-size: 8px;
    border-width: 1px 0px 1px 0px;
    padding: 17px 54px 12px 54px;
}

button
{
    background-color: #0065FC;
    border: 1px #0065FC solid;
    padding: 11px 12px 11px 15px;
    border-radius: 1px 13px 13px 1px;
    color: white;
    font-family: Raleway-SemiBold;
}

.section-filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: baseline; 
    margin: 30px 20px 20px 0px;
}

.texte-filtre
{
    font-size: 15px;
    font-family: Raleway-Bold;
}

.filtre-economique
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 30px 30px 30px 30px;
    padding-right: 10px;
    font-family: Raleway-Bold;
    width: 150px;
    height: 40px;
    margin: 0px 20px 0px 30px;
}

.filtre-economique:hover
{
    text-decoration: underline;
    color: grey;
}

.fa-money-bill-wave
{
    color: #0065FC;
    margin-right: 8px;
    font-size: 15px;
    border: 10px solid #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 3px 2px 3px 2px;
}

.filtre-familial
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 30px 30px 30px 30px;
    font-family: Raleway-Bold;
    width: 120px;
    height: 39px;
    margin-right: 20px;
}

.filtre-familial:hover
{
    text-decoration: underline;
    color: grey;
}

.fa-child
{
    color: #0065FC;
    margin-right: 5px;
    font-size: 15px;
    border: 10px solid #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 2px 5px 2px 5px;
}

.filtre-romantique
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 30px 30px 30px 30px;
    padding-right: 15px;
    font-family: Raleway-Bold;
    margin-right: 20px;
}

.filtre-romantique:hover
{
    text-decoration: underline;
    color: grey;
}

.fa-heart
{
    color: #0065FC;
    margin-right: 5px;
    font-size: 15px;
    border: 10px solid #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 2px 3px 2px 3px;
}

.filtre-animauxautorisés
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 40px 40px 40px 40px;
    padding-right: 10px;
    font-family: Raleway-Bold;
    width: 190px;
    height: 39px; 
}

.filtre-animauxautorisés:hover
{
    text-decoration: underline;
    color: grey;
}

.fa-dog
{
    color: #0065FC;
    margin-right: 5px;
    font-size: 15px;
    border: 10px solid #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 2px 3px 2px 3px;
}

.fa-info
{
    margin-right: 10px;
    font-size: 10px;
    color: #0065FC;
    border: 1px #F2F2F2 solid;
    border-radius: 10px 10px 10px 10px;
    padding: 4px 7px 4px 7px;
}

.section-hébergements-les-plus-populaires
{
    display: flex;
    margin-bottom: 50px;
}

.section-hébergements
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 10px 30px 10px;
    margin: 20px 25px 0px 50px;
    width: 700px;
    height: 460px;
}

.section-titre-hébergements-à-Marseille
{
    font-family: Raleway-Bold;
    font-size: 18px;
    margin-left: 20px;
}

.première-ligne-hébergements
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.case-auberge-la-cannebière
{
    padding: 2px 4px 2px 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 160px;
}

img[src="images/hebergements/small/marcusloke.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.texte-auberge-la-cannebière
{
    font-family: Raleway-Bold;
    font-size: 13px;
    margin: 1px 0px 0px 8px;
}

a[href="lien-auberge-la-cannebière"]
{
    text-decoration: none;
    color: black;
}

.texte-nuit-a-partir-de-25€
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin: 4px 0px 5px 8px;
}

.logo-4-étoiles
{
    display: flex;
    font-size: 10px;
    color: #0065FC;
    margin-left: 8px;
}

.logo-étoile-grise
{
    color: #F2F2F2;
}

.case-hôtel-du-port
{
    padding: 2px 4px 2px 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 160px;
}

img[src="images/hebergements/small/fredkleber.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.texte-hôtel-du-port
{
    font-family: Raleway-Bold;
    font-size: 13px;
    margin: 1px 0px 0px 8px;
}

a[href="lien-hôtel-du-port"]
{
    text-decoration: none;
    color: black;
}

.texte-nuit-a-partir-de-52€
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin: 4px 0px 5px 8px;
}

.logo-5-étoiles
{
    display: flex;
    margin-left: 8px;
    font-size: 10px;
    color: #0065FC;
}

.case-hôtel-les-mouettes
{
    padding: 2px 4px 2px 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 160px;
}

img[src="images/hebergements/small/reisetopia.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.texte-hôtel-les-mouettes
{
    font-family: Raleway-Bold;
    font-size: 13px;
    margin: 1px 0px 0px 8px;
}

a[href="lien-hôtel-les-mouettes"]
{
    text-decoration: none;
    color: black;
}

.texte-nuit-à-partir-de-76€
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin: 4px 0px 5px 8px;
}

.deuxième-ligne-hébergements
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.case-hôtel-de-la-mer
{
    padding: 2px 4px 2px 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 160px;
}

img[src="images/hebergements/small/anniespratt.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.texte-hôtel-de-la-mer
{
    font-family: Raleway-Bold;
    font-size: 13px;
    margin: 1px 0px 0px 8px;
}

a[href="lien-hôtel-de-la-mer"]
{
    text-decoration: none;
    color: black;
}

.texte-nuit-à-partir-de-46€
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin: 4px 0px 5px 8px;
}

.logo-3-étoiles
{
    display: flex;
    margin-left: 8px;
    font-size: 10px;
    color: #0065FC;
}

.afficherplus
{
    font-family: Raleway-Bold;
    margin-top: 40px;
    font-size: 14px;
}

.case-auberge-le-panier
{
    padding: 2px 4px 2px 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 160px;
}

img[src="images/hebergements/small/nicatelee.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.texte-auberge-le-panier
{
    font-family: Raleway-Bold;
    font-size: 13px;
    margin: 1px 0px 0px 8px;
}

a[href="lien-auberge-le-panier"]
{
    text-decoration: none;
    color: black;
}

.texte-nuit-à-partir-de-23€
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin: 4px 0px 5px 8px;
}

.case-hôtel-chez-amina
{
    padding: 2px 4px 2px 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 160px;
}

img[src="images/hebergements/small/febrianzakaria.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.texte-hôtel-chez-amina
{
    font-family: Raleway-Bold;
    font-size: 13px;
    margin: 1px 0px 0px 8px;
}

a[href="lien-hôtel-chez-amina"]
{
    text-decoration: none;
    color: black;
}

.texte-nuit-a-partir-de-96€
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin: 4px 0px 5px 8px;
}

.section-les-plus-populaires
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    height: 510px;
    width: 300px;
    margin-top: 20px;
}

.section-titre-les-plus-populaires
{
    font-family: Raleway-Bold;
    font-size: 18px;
    padding: 18px 0px 8px 0px;
}

.fa-chart-line
{
    padding-left: 100px;
}

.case-hôtel-le-soleil-du-matin
{
    display: flex;
    padding: 2px 0px 2px 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
}

img[src="images/hebergements/small/emileguillemot.jpg"]
{
    width: 120px;
    height: 110px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    margin-right: 15px;
}

.hôtel-le-soleil-du-matin
{
    margin-top: 10px;
}

a[href="lien-hôtel-le-soleil-du-matin"]
{
    text-decoration: none;
    color: black;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.texte-nuit-à-partir-de-128€
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin-top: 5px;
}

.logo-5-étoiles-populaires
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 9px;
    color: #0065FC;
}

.case-au-coeur-de-l-eau-chambres-d-hôtes
{
    display: flex;
    padding: 2px 0px 2px 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
}

img[src="images/hebergements/small/awcreative.jpg"]
{
    width: 120px;
    height: 110px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    margin-right: 15px;
}

.au-coeur-de-l-eau-chambres-d-hôtes
{
    margin-top: 10px;
}

a[href="lien-au-coeur-de-l-eau-chambres-d-hôtes"]
{
    text-decoration: none;
    color: black;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.texte-nuit-a-partir-de-71€
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin-top: 5px;
}

.logo-4-étoiles-populaires
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 9px;
    color: #0065FC;
}

.case-hôtel-tout-bleu-et-blanc
{
    display: flex;
    padding: 2px 0px 2px 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
}

img[src="images/hebergements/small/febrianzakariaa.jpg"]
{
    width: 120px;
    height: 110px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    margin-right: 15px;
}

.hôtel-tout-bleu-et-blanc
{
    margin-top: 10px;
}

a[href="lien-hôtel-tout-bleu-et-blanc"]
{
    text-decoration: none;
    color: black;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.texte-nuit-a-partir-de-68€
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin-top: 5px;
}

.section-titre-activités-à-Marseille
{
    font-family: Raleway-Bold;
    font-size: 18px;
    margin: 0px 0px 20px 50px;
}

.ligne-horizontal-section-activités-à-Marseille
{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.case-vieux-port-et-parc-des-calanques
{
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 243px;
    height: 368px;
    margin-right: 35px;
}

img[src="images/activites/small/renolaithienne.jpg"]
{
    width: 243px;
    height: 325px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

a[href="liens-section-activités-à-Marseille"]
{
    text-decoration: none;
    color: black;
    margin-left: 14px;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.ligne-verticale-section-activités-à-Marseille
{
    display: flex;
    flex-direction: column;
}

.case-Fort-de-Pomègues
{
    margin: 0px 35px 40px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 245px;
    height: 188px;
}

img[src="images/activites/small/paulhermann.jpg"]
{
    height: 145px;
    width: 245px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

.case-îles-du-Frioul
{
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 245px;
    height: 129px;
}

img[src="images/activites/small/kevinhikari.jpg"]
{
    width: 245px;
    height: 97px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

img[src="images/activites/small/kilyansockalingum.jpg"]
{
    width: 243px;
    height: 325px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

.case-notre-dame-de-la-garde
{
    margin: 0px 35px 40px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 245px;
    height: 154px;
}

img[src="images/activites/small/florianwehde.jpg"]
{
    height: 110px;
    width: 245px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

.case-parc-longchamp
{
    margin: 0px 35px 40px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 245px;
    height: 174px;
}

img[src="images/activites/small/lenapaulin.jpg"]
{
    width: 245px;
    height: 132px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

.conteneur20
{
    display: flex;
    justify-content: space-between;
    border-radius: 1px 1px 1px 1px;
    margin-top: 50px;
    background-color: #F2F2F2;
    margin-right: 0px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

.conteneur21
{
    display: flex;
    flex-direction: column;
}

.apropos
{
    font-family: Raleway-bold;
    font-size: 18px;
}

a[href="Fonction"]
{
    margin-bottom: 10px;
    font-family: Raleway-Regular;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

a[href="Conditions"]
{
    margin-bottom: 10px;
    font-family: Raleway-Regular;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

a[href="Données"]
{
    margin-bottom: 10px;
    font-family: Raleway-Regular;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.conteneur22
{
    display: flex;
    flex-direction: column;
}

.heb
{
    font-family: Raleway-bold;
    font-size: 18px;
}

a[href="Charte"]
{
    margin-bottom: 10px;
    font-family: Raleway-Regular;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

a[href="votrehôtel"]
{
    margin-bottom: 10px;
    font-family: Raleway-Regular;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.conteneur23
{
    display: flex;
    flex-direction: column;
    margin-right: 300px;
}

.assist
{
    font-family: Raleway-bold;
    font-size: 18px;
}

a[href="Centre"]
{
    margin-bottom: 10px;
    font-family: Raleway-Regular;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

a[href="Nous"]
{
    margin-bottom: 10px;
    font-family: Raleway-Regular;
    text-decoration: none;
    color: black;
    font-size: 12px;
}