@font-face
{
    font-family: Raleway-Regular;
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face
{
    font-family: Raleway-SemiBold;
    src: url('fonts/Raleway-SemiBold.ttf');
}

@font-face
{
    font-family: Raleway-Bold;
    src: url('fonts/Raleway-Bold.ttf');
}

@font-face
{
    font-family: Raleway-Medium;
    src: url('fonts/Raleway-Medium.ttf');
}

.section-principale-hébergements-activités
{
    margin: 20px 130px 20px 120px;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px 20px 120px;
}

nav a
{
    font-size: 13px;
    color: #0065FC;
    font-family: Raleway-Medium;
    text-decoration: none;
    margin-right: 45px;
}

a[href="#section-hébergements-les-plus-populaires"]:hover
{    
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px;
}

a[href="#section-activités-à-Marseille"]
{
    color: black;
}

a[href="#section-activités-à-Marseille"]:hover
{
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px
}

a[href="inscription"]
{
    font-family: Raleway-Bold;
}

a[href="inscription"]:hover
{
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px;
}

.section-principale
{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.section-titre
{
	font-size: 18px;
    font-family: Raleway-Bold;
    margin-bottom: 0px;
}

.section-texte
{
    font-size: 14px;
    font-family: Raleway-Regular;
    margin-top: 5px;
}

mark
{
    font-size: 15px;
    background-color: #F2F2F2;
    padding: 12px 13px 12px 15px;
    border-radius: 13px 1px 1px 13px;
}

input
{
    border: 1px #F2F2F2 solid;
    font-size: 8px;
    border-width: 1px 0px 1px 0px;
    padding: 17px 54px 12px 54px;
}

button
{
    background-color: #0065FC;
    border: 1px solid;
    padding: 12px 12px 12px 15px;
    border-radius: 1px 13px 13px 1px;
    color: white;
    font-family: Raleway-SemiBold;
}

.section-filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: baseline; 
    margin: 30px 20px 20px 0px;
}

.texte-filtre
{
    font-size: 15px;
    font-family: Raleway-Bold;
}

a[href="liens-section-filtres"]
{
    text-decoration: none;
    color: black;
}

a[href="liens-section-filtres"]:hover
{
    text-decoration: underline;
    color: blue;
}

.filtre-economique
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 99px 99px 99px 99px;
    padding-right: 20px;
    font-family: Raleway-Bold;
    margin: 0px 20px 0px 30px;
}

.fa-money-bill-wave
{
    color: #0065FC;
    margin-right: 5px;
    font-size: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #DEEBFF;
    padding: 12px 11px 12px 11px;
}

.filtre-familial
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 99px 99px 99px 99px;
    font-family: Raleway-Bold;
    margin-right: 20px;
    padding-right: 20px;
}

.fa-child
{
    color: #0065FC;
    margin-right: 5px;
    font-size: 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 12px 15px 12px 15px;
}

.filtre-romantique
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 30px 30px 30px 30px;
    padding-right: 15px;
    font-family: Raleway-Bold;
    margin-right: 20px;
}

.fa-heart
{
    color: #0065FC;
    margin-right: 5px;
    font-size: 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 12px 13px 12px 13px;
}

.filtre-animauxautorisés
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 40px 40px 40px 40px;
    padding-right: 15px;
    font-family: Raleway-Bold; 
}

.fa-dog
{
    color: #0065FC;
    margin-right: 5px;
    font-size: 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 12px 13px 12px 13px;
}

.fa-info
{
    margin-right: 10px;
    font-size: 10px;
    color: #0065FC;
    border: 1px #F2F2F2 solid;
    border-radius: 10px 10px 10px 10px;
    padding: 4px 7px 4px 7px;
}

#section-hébergements-les-plus-populaires
{
    display: flex;
    margin-bottom: 50px;
}

.section-hébergements
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 30px 40px 30px;
    margin: 20px 30px 0px 0px;
    width: 700px;
    height: 460px;
}

.section-titre-hébergements-à-Marseille
{
    font-family: Raleway-Bold;
    font-size: 18px;
}

.ligne-hébergements
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cases-hébergements
{
    padding: 2px 4px 2px 2px;
    border: 1px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 160px;
}

img[src="images/hebergements/small/marcusloke.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.titres-hébergements
{
    font-family: Raleway-Bold;
    font-size: 13px;
    margin: 1px 0px 0px 8px;
}

a[href="liens-hébergements"]
{
    text-decoration: none;
    color: black;
}

.textes-hébergements
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin: 4px 0px 5px 8px;
}

.logo-4-étoiles
{
    display: flex;
    font-size: 10px;
    color: #0065FC;
    margin-left: 8px;
}

.logo-étoile-grise
{
    color: #F2F2F2;
}

img[src="images/hebergements/small/fredkleber.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.logo-5-étoiles
{
    display: flex;
    margin-left: 8px;
    font-size: 10px;
    color: #0065FC;
}

img[src="images/hebergements/small/reisetopia.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

img[src="images/hebergements/small/anniespratt.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.logo-3-étoiles
{
    display: flex;
    margin-left: 8px;
    font-size: 10px;
    color: #0065FC;
}

.afficherplus
{
    font-family: Raleway-Bold;
    margin-top: 50px;
    font-size: 14px;
}

img[src="images/hebergements/small/nicatelee.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

img[src="images/hebergements/small/febrianzakaria.jpg"]
{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.section-les-plus-populaires
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0px 20px 12px 20px;
    height: 510px;
    width: 300px;
    margin-top: 20px;
}

.section-titre-les-plus-populaires
{
    font-family: Raleway-Bold;
    font-size: 18px;
    padding: 18px 0px 8px 0px;
}

.fa-chart-line
{
    padding-left: 100px;
}

.cases-les-plus-populaires
{
    display: flex;
    padding: 2px 0px 2px 2px;
    border: 1px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}

img[src="images/hebergements/small/emileguillemot.jpg"]
{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
}

.bloc-texte-les-plus-populaires
{
    margin-top: 10px;
    margin-left: 10px;
}

a[href="liens-les-plus-populaires"]
{
    text-decoration: none;
    color: black;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.textes-les-plus-populaires
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin-top: 5px;
}

.logo-5-étoiles-populaires
{
    display: flex;
    margin-top: 40px;
    font-size: 10px;
    color: #0065FC;
}

img[src="images/hebergements/small/awcreative.jpg"]
{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
}

.logo-4-étoiles-populaires
{
    display: flex;
    margin-top: 40px;
    font-size: 10px;
    color: #0065FC;
}

img[src="images/hebergements/small/febrianzakariaa.jpg"]
{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
}

#section-titre-activités-à-Marseille
{
    font-family: Raleway-Bold;
    font-size: 18px;
    margin: 0px 0px 20px 0px;
}

.ligne-horizontal-section-activités-à-Marseille
{
    display: flex;
    justify-content: flex-start;
}

.case-vieux-port-et-parc-des-calanques
{
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 243px;
    height: 368px;
    margin-right: 35px;
}

img[src="images/activites/small/renolaithienne.jpg"]
{
    width: 243px;
    height: 325px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

a[href="liens-section-activités-à-Marseille"]
{
    text-decoration: none;
    color: black;
    margin-left: 14px;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.ligne-verticale-section-activités-à-Marseille
{
    display: flex;
    flex-direction: column;
}

.case-Fort-de-Pomègues
{
    margin: 0px 35px 40px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 245px;
    height: 188px;
}

img[src="images/activites/small/paulhermann.jpg"]
{
    height: 145px;
    width: 245px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

.case-îles-du-Frioul
{
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 245px;
    height: 129px;
}

img[src="images/activites/small/kevinhikari.jpg"]
{
    width: 245px;
    height: 97px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

img[src="images/activites/small/kilyansockalingum.jpg"]
{
    width: 243px;
    height: 325px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

.case-notre-dame-de-la-garde
{
    margin: 0px 35px 40px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 245px;
    height: 154px;
}

img[src="images/activites/small/florianwehde.jpg"]
{
    height: 110px;
    width: 245px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

.case-parc-longchamp
{
    margin: 0px 35px 40px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px #F2F2F2;
    width: 245px;
    height: 174px;
}

img[src="images/activites/small/lenapaulin.jpg"]
{
    width: 245px;
    height: 132px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
}

.pied-de-la-page
{
    display: flex;
    justify-content: space-between;
    border-radius: 1px 1px 1px 1px;
    background-color: #F2F2F2;
    padding: 20px 310px 50px 50px;
    margin: 0px 80px 0px 70px;
}

.sections-pied-de-la-page
{
    display: flex;
    flex-direction: column;
}

.sections-titre-pied-de-la-page
{
    font-family: Raleway-bold;
    font-size: 15px;
}

a[href="liens-pied-de-la-page"]
{
    margin-bottom: 10px;
    font-family: Raleway-Regular;
    text-decoration: none;
    color: black;
    font-size: 12px;
}
