@font-face
{
    font-family: Raleway-Regular;
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face
{
    font-family: Raleway-SemiBold;
    src: url('fonts/Raleway-SemiBold.ttf');
}

@font-face
{
    font-family: Raleway-Bold;
    src: url('fonts/Raleway-Bold.ttf');
}

@font-face
{
    font-family: Raleway-Medium;
    src: url('fonts/Raleway-Medium.ttf');
}

#header-conteneur
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 20px 120px;
    width: 1130px;
}

nav a
{
    font-size: 13px;
    color: #0065FC;
    font-family: Raleway-Medium;
    text-decoration: none;
    margin-right: 50px;
}

a[href="#section-hébergements-les-plus-populaires"]:hover
{    
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px;
}

a[href="#section-activités-à-Marseille"]
{
    color: black;
}

a[href="#section-activités-à-Marseille"]:hover
{
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px
}

a[href="inscription"]
{
    font-family: Raleway-Bold;
}

a[href="inscription"]:hover
{
    border-top: 2px solid blue;
    padding: 40px 30px 0px 30px;
}

.section-principale
{
    display: flex;
    flex-direction: column;
    margin: 20px 110px 0px 120px;
}

.section-titre
{
	font-size: 18px;
    font-family: Raleway-Bold;
    margin-bottom: 0px;
}

.section-texte
{
    font-size: 14px;
    font-family: Raleway-Regular;
    margin-top: 5px;
}

form
{
    display: flex;
}

mark
{
    font-size: 15px;
    background-color: #F2F2F2;
    padding: 12px 13px 12px 15px;
    border-radius: 13px 1px 1px 13px;
}

input
{
    border: 1px #F2F2F2 solid;
    border-width: 1px 0px 1px 0px;
}

button
{
    background-color: #0065FC;
    border: 1px solid;
    padding: 0px 12px 0px 15px;
    border-radius: 1px 13px 13px 1px;
    color: white;
    font-family: Raleway-SemiBold;
}

.textebouton
{
    margin: 0px;
}

.logoloupe
{
    display: none;
}

.section-filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: baseline; 
    margin: 30px 0px 30px 0px;
}

.texte-filtre
{
    font-size: 15px;
    font-family: Raleway-Bold;
}

.section-filtres-2
{
    display: flex;
}

a[href="liens-section-filtres"]
{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

a[href="liens-section-filtres"]:hover
{
    text-decoration: underline;
    color: blue;
}

.filtre-economique
{
    display: flex;
    align-items: center;
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 99px 99px 99px 99px;
    padding-right: 20px;
    font-family: Raleway-Bold;
    margin: 0px 20px 0px 30px;
}

.fa-money-bill-wave
{
    color: #0065FC;
    font-size: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #DEEBFF;
    padding: 12px 11px 12px 11px;
}

.filtre-familial
{
    display: flex;
    align-items: center;
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 99px 99px 99px 99px;
    font-family: Raleway-Bold;
    margin-right: 20px;
    padding-right: 20px;
}

.fa-child
{
    color: #0065FC;
    font-size: 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 12px 15px 12px 15px;
}

.filtre-romantique
{
    display: flex;
    align-items: center;
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 30px 30px 30px 30px;
    padding-right: 15px;
    font-family: Raleway-Bold;
    margin-right: 20px;
}

.fa-heart
{
    color: #0065FC;
    font-size: 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 12px 13px 12px 13px;
}

.filtre-animauxautorisés
{
    display: flex;
    align-items: center;
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 40px 40px 40px 40px;
    padding-right: 15px;
    font-family: Raleway-Bold; 
}

.fa-dog
{
    color: #0065FC;
    font-size: 15px;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding: 12px 13px 12px 13px;
}

.fa-info
{
    margin-right: 5px;
    font-size: 10px;
    color: #0065FC;
    border: 1px #F2F2F2 solid;
    border-radius: 10px 10px 10px 10px;
    padding: 4px 7px 4px 7px;
}

#section-hébergements-les-plus-populaires
{
    display: flex;
    margin: 0px 200px 50px 120px;
}

.section-hébergements
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 10px 0px 30px;
    margin: 20px 35px 0px 0px;
    width: 700px;
    height: 500px;
}

.section-titre-hébergements-à-Marseille
{
    font-family: Raleway-Bold;
    font-size: 18px;
    margin: 13px 0px 15px 0px;
}

.première-ligne-hébergements
{
    display: flex;
    justify-content: space-between;
}

.deuxième-ligne-hébergements
{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.cases-hébergements
{
    padding: 3px 5px 2px 3px;
    border: 1px solid #F2F2F2;
    background-color: white;
    border-radius: 20px;
    width: 190px;
    height: 160px;
    margin-right: 20px;
}

img[src="images/hebergements/small/marcusloke.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

.titres-hébergements
{
    font-family: Raleway-Bold;
    font-size: 13px;
    margin: 1px 0px 0px 8px;
}

a[href="liens-hébergements"]
{
    text-decoration: none;
    color: black;
}

.textes-hébergements
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin: 4px 0px 5px 8px;
}

.logo-4-étoiles
{
    display: flex;
    font-size: 10px;
    color: #0065FC;
    margin-left: 8px;
}

.logo-étoile-grise
{
    color: #F2F2F2;
}

img[src="images/hebergements/small/fredkleber.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

.logo-5-étoiles
{
    display: flex;
    margin-left: 8px;
    font-size: 10px;
    color: #0065FC;
}

img[src="images/hebergements/small/reisetopia.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

img[src="images/hebergements/small/anniespratt.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

.logo-3-étoiles
{
    display: flex;
    margin-left: 8px;
    font-size: 10px;
    color: #0065FC;
}

.afficherplus
{
    font-family: Raleway-Bold;
    margin-top: 45px;
    font-size: 15px;
}

img[src="images/hebergements/small/nicatelee.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

img[src="images/hebergements/small/febrianzakaria.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
    object-fit: cover;
}

.section-les-plus-populaires
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 0px 40px 10px 30px;
    height: 510px;
    width: 290px;
    margin-top: 20px;
}

.section-titre-les-plus-populaires
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway-Bold;
    font-size: 12px;
    margin: 18px 0px 4px 0px;
}

.fa-chart-line
{
    font-size: 17px;
}

.cases-les-plus-populaires
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 0px 0px 20px 0px;
    padding: 3px 10px 3px 3px;
    width: 285px;
    height: 125px;
}

img[src="images/hebergements/small/emileguillemot.jpg"]
{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    object-fit: cover;
}

.bloc-texte-les-plus-populaires
{
    margin: 10px 0px 0px 10px;
}

a[href="liens-les-plus-populaires"]
{
    text-decoration: none;
    color: black;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.textes-les-plus-populaires
{
    font-family: Raleway-Regular;
    font-size: 11px;
    margin-top: 5px;
}

.logo-5-étoiles-populaires
{
    display: flex;
    margin-top: 40px;
    font-size: 10px;
    color: #0065FC;
}

img[src="images/hebergements/small/awcreative.jpg"]
{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    object-fit: cover;
}

.logo-4-étoiles-populaires
{
    display: flex;
    margin-top: 40px;
    font-size: 10px;
    color: #0065FC;
}

img[src="images/hebergements/small/febrianzakariaa.jpg"]
{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    object-fit: cover;
}

#section-activités-à-Marseille
{
    margin: 0px 0px 20px 120px;
}

.section-titre-activités-à-Marseille
{
    font-family: Raleway-Bold;
    font-size: 19px;
    margin: 0px 0px 20px 0px;
}

.ligne-horizontal-section-activités-à-Marseille
{
    display: flex;
    justify-content: flex-start;
}

.case-vieux-port-et-parc-des-calanques
{
    border-radius: 20px;
    box-shadow: 1px 1px 5px 4px #F2F2F2;
    width: 243px;
    height: 368px;
    margin-right: 40px;
}

img[src="images/activites/small/renolaithienne.jpg"]
{
    width: 243px;
    height: 325px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

a[href="liens-section-activités-à-Marseille"]
{
    text-decoration: none;
    color: black;
    margin-left: 14px;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.ligne-verticale-section-activités-à-Marseille
{
    display: flex;
    flex-direction: column;
}

.case-Fort-de-Pomègues
{
    margin: 0px 40px 40px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 4px #F2F2F2;
    width: 245px;
    height: 188px;
}

img[src="images/activites/small/paulhermann.jpg"]
{
    height: 145px;
    width: 245px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

.case-îles-du-Frioul
{
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px 4px #F2F2F2;
    width: 245px;
    height: 129px;
}

img[src="images/activites/small/kevinhikari.jpg"]
{
    width: 245px;
    height: 97px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

img[src="images/activites/small/kilyansockalingum.jpg"]
{
    width: 243px;
    height: 325px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

.case-notre-dame-de-la-garde
{
    margin: 0px 35px 40px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 4px #F2F2F2;
    width: 245px;
    height: 154px;
}

img[src="images/activites/small/florianwehde.jpg"]
{
    height: 110px;
    width: 245px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

.case-parc-longchamp
{
    margin: 0px 35px 40px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 4px #F2F2F2;
    width: 245px;
    height: 174px;
}

img[src="images/activites/small/lenapaulin.jpg"]
{
    width: 245px;
    height: 132px;
    border-radius: 20px 20px 1px 1px;
    margin-bottom: 8px;
    object-fit: cover;
}

.pied-de-la-page
{
    display: flex;
    justify-content: space-between;
    border-radius: 1px 1px 1px 1px;
    background-color: #F2F2F2;
    padding: 20px 320px 20px 50px;
    margin: 0px 70px 30px 80px;
}

.sections-pied-de-la-page
{
    display: flex;
    flex-direction: column;
}

.sections-titre-pied-de-la-page
{
    font-family: Raleway-bold;
    font-size: 15px;
}

a[href="liens-pied-de-la-page"]
{
    margin-bottom: 10px;
    font-family: Raleway-Regular;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

@media all and (min-width: 320px) and (max-width: 450px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 20px 0px 10px 0px;
        width: 100%;
        display: block;
    }

    img[src="images/logo/Reservia.svg"]
    {
        margin-left: 15px;
    }

    a[href="inscription"]
    {
        margin: 0px;
    }

    a[href="#section-hébergements-les-plus-populaires"]
    {
        padding-right: 30%;
    }

    a[href="#section-hébergements-les-plus-populaires"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    a[href="#section-activités-à-Marseille"]
    {
        margin: 0px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    .section-principale
    {
        margin: 0px;
    }

    .section-titre
    {
        font-size: 21px;
        margin-left: 15px;
    }

    form
    {
        display: flex;
        margin-left: 15px;
    }

    input
    {
        width: 200px
    }

    button
    {
        padding: 0px;
        border: 0px;
        width: 40px;
        border-radius: 10px;
    }

    .logoloupe
    {
        display: block;
        padding-top: 10px;
    }

    .textebouton
    {
        visibility: hidden;
    }

    .section-filtres
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .section-filtres-2
    {
        display: flex;
        flex-wrap: wrap;
    }

    .filtre-economique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 155px;
    }

    .filtre-familial
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 120px;
    }

    .filtre-romantique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 150px;
    }
    
    .filtre-animauxautorisés
    {
        padding: 0px;
        width: 200px;
        margin: 0px 0px 10px 0px;
    }
    
    .section-texte
    {
        font-size: 14px;
        margin-left: 15px;
    }

    #section-hébergements-les-plus-populaires
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .section-les-plus-populaires
    {
        padding: 0px;
        border-radius: 0px;
        width: 100%;
    }

    .section-titre-les-plus-populaires
    {
        margin: 10px 20px 10px 20px;
    }

    .cases-les-plus-populaires
    {
        width: 85%;
        height: 122px;
        margin: 0px 0px 20px 15px;
    }   

    .section-titre-hébergements-à-Marseille
    {
        margin: 10px 0px 15px 20px;
    }

    .section-hébergements
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }


    .première-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
    }

    .cases-hébergements
    {
        height: 180px;
        width: 85%;
        margin: 0px 0px 10px 15px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #F2F2F2;
    }

    img[src="images/hebergements/small/marcusloke.jpg"]
    {
        height: 120px;
        width: 100%;
    }

    img[src="images/hebergements/small/fredkleber.jpg"]
    {
        height: 120px;
        width: 100%;
    }

    img[src="images/hebergements/small/reisetopia.jpg"]
    {
        height: 120px;
        width: 100%;
    }

    .deuxième-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    img[src="images/hebergements/small/anniespratt.jpg"]
    {
        height: 120px;
        width: 100%;
    }

    img[src="images/hebergements/small/nicatelee.jpg"]
    {
        height: 120px;
        width: 100%;
    }

    img[src="images/hebergements/small/febrianzakaria.jpg"]
    {
        height: 120px;
        width: 100%;
    }

    .afficherplus
    {
        margin: 20px 0px 0px 10px;
    }

    #section-activités-à-Marseille
    {
        margin: 880px 0px 20px 0px;
    }

    .section-titre-activités-à-Marseille
    {
        margin: 0px 0px 20px 15px;
    }
    
    .ligne-horizontal-section-activités-à-Marseille
    {
        display: flex;
        flex-direction: column;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        margin: 0px 0px 20px 16px;
        width: 100%;
        height: 180px;
    }

    img[src="images/activites/small/renolaithienne.jpg"]
    {
        height: 135px;
        width: 100%;
    }

    .case-Fort-de-Pomègues
    {
        margin: 0px 0px 20px 16px;
        width: 100%;
        height: 180px;
    }

    img[src="images/activites/small/paulhermann.jpg"]
    {
        height: 135px;
        width: 100%;
    }

    .case-îles-du-Frioul
    {
        margin: 0px 0px 20px 16px;
        width: 100%;
        height: 170px;
    }

    img[src="images/activites/small/kevinhikari.jpg"]
    {
        height: 135px;
        width: 100%;
    }

    img[src="images/activites/small/kilyansockalingum.jpg"]
    {
        height: 135px;
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        margin: 0px 0px 20px 16px;
        width: 100%;
        height: 180px;
    }

    img[src="images/activites/small/florianwehde.jpg"]
    {
        height: 135px;
        width: 100%;
    }

    .case-parc-longchamp
    {
        margin: 0px 0px 20px 16px;
        width: 100%;
        height: 180px;
    }

    img[src="images/activites/small/lenapaulin.jpg"]
    {
        height: 135px;
        width: 100%;
    }

    .pied-de-la-page
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px 0px 0px 20px;
        width: 100%;
    }

    .sections-pied-de-la-page
    {
        padding-bottom: 20px;
    }
}
 
@media all and (min-width: 451px) and (max-width: 768px)
{  
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 20px 0px 10px 0px;
        width: 100%;
        display: block;
    }

    img[src="images/logo/Reservia.svg"]
    {
        margin-left: 15px;
    }

    a[href="inscription"]
    {
        margin: 0px;
    }

    a[href="#section-hébergements-les-plus-populaires"]
    {
        padding-right: 30%;
    }

    a[href="#section-hébergements-les-plus-populaires"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    a[href="#section-activités-à-Marseille"]
    {
        margin: 0px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    .section-principale
    {
        margin: 0px;
    }

    .section-titre
    {
        font-size: 29px;
        margin-left: 15px;
    }

    .section-texte
    {
        margin: 10px 0px 20px 15px;
        font-size: 22px;
    }

    form
    {
        display: flex;
        margin: 20px 0px 0px 15px;
    }

    input
    {
        width: 280px;
    }

    button
    {
        padding: 0px;
        border: 0px;
        width: 40px;
        border-radius: 10px;
    }

    .logoloupe
    {
        display: block;
        padding-top: 10px;
    }

    .textebouton
    {
        visibility: hidden;
    }

    .section-filtres
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .texte-filtre
    {
        font-size: 20px;
    }

    .section-filtres-2
    {
        display: flex;
        flex-wrap: wrap;
    }

    .filtre-economique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 160px;
        font-size: 16px;
    }

    .filtre-familial
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 125px;
        font-size: 16px;
    }

    .filtre-romantique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 155px;
        font-size: 16px;
    }
    
    .filtre-animauxautorisés
    {
        padding: 0px;
        width: 205px;
        margin: 0px 0px 10px 0px;
        font-size: 16px;
    }
    
    #section-hébergements-les-plus-populaires
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .section-les-plus-populaires
    {
        padding: 20px 0px 0px 0px;
        border-radius: 0px;
        width: 118%;
        height: 1100px;
    }

    .section-titre-les-plus-populaires
    {
        margin: 0px 30px 0px 20px;
        font-size: 15px;
    }

    .fa-chart-line
    {
        font-size: 20px;
    }

    .cases-les-plus-populaires
    {
        height: 315px;
        width: 90%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #f2f2f2;
        display: flex;
        flex-direction: column;
    }

    img[src="images/hebergements/small/emileguillemot.jpg"]
    {
        height: 220px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/awcreative.jpg"]
    {
        height: 220px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/febrianzakariaa.jpg"]
    {
        height: 220px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    a[href="liens-les-plus-populaires"]
    {
        font-size: 16px;
    }

    .textes-les-plus-populaires
    {
        margin: 5px 0px 5px 0px;
        font-size: 14px;
    }

    .logo-5-étoiles-populaires
    {
        margin: 0px;
        font-size: 14px;
    }

    .logo-4-étoiles-populaires
    {
        margin: 0px;
        font-size: 14px;
    }   

    .section-titre-hébergements-à-Marseille
    {
        margin: 10px 0px 15px 20px;
        font-size: 22px;
    }

    .section-hébergements
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }


    .première-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
    }

    .cases-hébergements
    {
        height: 280px;
        width: 105%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #F2F2F2;
    }

    img[src="images/hebergements/small/marcusloke.jpg"]
    {
        height: 200px;
        width: 100%;
    }

    img[src="images/hebergements/small/fredkleber.jpg"]
    {
        height: 200px;
        width: 100%;
    }

    img[src="images/hebergements/small/reisetopia.jpg"]
    {
        height: 200px;
        width: 100%;
    }

    .titres-hébergements
    {
        font-size: 16px;
        margin-top: 5px;
    }

    .textes-hébergements
    {
        font-size: 14px;
    }

    .logo-4-étoiles
    {
        font-size: 14px;
    }

    .logo-5-étoiles
    {
        font-size: 14px;
    }

    .logo-3-étoiles
    {
        font-size: 14px;
    }

    .deuxième-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    img[src="images/hebergements/small/anniespratt.jpg"]
    {
        height: 200px;
        width: 100%;
    }

    img[src="images/hebergements/small/nicatelee.jpg"]
    {
        height: 200px;
        width: 100%;
    }

    img[src="images/hebergements/small/febrianzakaria.jpg"]
    {
        height: 200px;
        width: 100%;
    }

    .afficherplus
    {
        margin: 20px 0px 0px 20px;
        font-size: 20px;
    }

    #section-activités-à-Marseille
    {
        margin: 1450px 0px 20px 0px;
    }

    .section-titre-activités-à-Marseille
    {
        margin: 0px 0px 20px 15px;
        font-size: 22px;
    }
    
    .ligne-horizontal-section-activités-à-Marseille
    {
        display: flex;
        flex-direction: column;
    }

    a[href="liens-section-activités-à-Marseille"]
    {
        font-size: 16px;
        margin-top: 20px;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        margin: 0px 0px 20px 20px;
        width: 106%;
        height: 275px;
    }

    img[src="images/activites/small/renolaithienne.jpg"]
    {
        height: 225px;
        width: 100%;
    }

    .case-Fort-de-Pomègues
    {
        margin: 0px 0px 20px 20px;
        width: 106%;
        height: 275px;
    }

    img[src="images/activites/small/paulhermann.jpg"]
    {
        height: 225px;
        width: 100%;
    }

    .case-îles-du-Frioul
    {
        margin: 0px 0px 20px 20px;
        width: 106%;
        height: 265px;
    }

    img[src="images/activites/small/kevinhikari.jpg"]
    {
        height: 225px;
        width: 100%;
    }

    img[src="images/activites/small/kilyansockalingum.jpg"]
    {
        height: 225px;
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        margin: 0px 0px 20px 20px;
        width: 106%;
        height: 275px;
    }

    img[src="images/activites/small/florianwehde.jpg"]
    {
        height: 225px;
        width: 100%;
    }

    .case-parc-longchamp
    {
        margin: 0px 0px 20px 20px;
        width: 106%;
        height: 275px;
    }

    img[src="images/activites/small/lenapaulin.jpg"]
    {
        height: 225px;
        width: 100%;
    }

    .pied-de-la-page
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px 0px 0px 20px;
        width: 113%;
    }

    .sections-pied-de-la-page
    {
        padding-bottom: 20px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 16px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 14px;
    }
}

@media all and (min-width: 769px) and (max-width: 1084px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 20px 0px 10px 0px;
        width: 100%;
        display: block;
    }

    img[src="images/logo/Reservia.svg"]
    {
        margin-left: 15px;
    }

    a[href="inscription"]
    {
        margin: 0px;
    }

    a[href="#section-hébergements-les-plus-populaires"]
    {
        padding-right: 30%;
    }

    a[href="#section-hébergements-les-plus-populaires"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    a[href="#section-activités-à-Marseille"]
    {
        margin: 0px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    .section-principale
    {
        margin: 0px;
    }

    .section-titre
    {
        font-size: 29px;
        margin-left: 15px;
    }

    .section-texte
    {
        margin: 10px 0px 20px 15px;
        font-size: 22px;
    }

    form
    {
        display: flex;
        margin: 20px 0px 0px 15px;
    }

    input
    {
        width: 280px;
    }

    button
    {
        padding: 0px;
        border: 0px;
        width: 40px;
        border-radius: 10px;
    }

    .logoloupe
    {
        display: block;
        padding-top: 10px;
    }

    .textebouton
    {
        visibility: hidden;
    }

    .section-filtres
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .texte-filtre
    {
        font-size: 20px;
    }

    .section-filtres-2
    {
        display: flex;
        flex-wrap: wrap;
    }

    .filtre-economique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 160px;
        font-size: 16px;
    }

    .filtre-familial
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 125px;
        font-size: 16px;
    }

    .filtre-romantique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 155px;
        font-size: 16px;
    }
    
    .filtre-animauxautorisés
    {
        padding: 0px;
        width: 205px;
        margin: 0px 0px 10px 0px;
        font-size: 16px;
    }
    
    #section-hébergements-les-plus-populaires
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .section-les-plus-populaires
    {
        padding: 20px 0px 0px 0px;
        border-radius: 0px;
        width: 118%;
        height: 1400px;
    }

    .section-titre-les-plus-populaires
    {
        margin: 0px 30px 0px 20px;
        font-size: 15px;
    }

    .fa-chart-line
    {
        font-size: 20px;
    }

    .cases-les-plus-populaires
    {
        height: 415px;
        width: 94%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #f2f2f2;
        display: flex;
        flex-direction: column;
    }

    img[src="images/hebergements/small/emileguillemot.jpg"]
    {
        height: 320px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/awcreative.jpg"]
    {
        height: 320px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/febrianzakariaa.jpg"]
    {
        height: 320px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    a[href="liens-les-plus-populaires"]
    {
        font-size: 16px;
    }

    .textes-les-plus-populaires
    {
        margin: 5px 0px 5px 0px;
        font-size: 14px;
    }

    .logo-5-étoiles-populaires
    {
        margin: 0px;
        font-size: 14px;
    }

    .logo-4-étoiles-populaires
    {
        margin: 0px;
        font-size: 14px;
    }   

    .section-titre-hébergements-à-Marseille
    {
        margin: 10px 0px 15px 20px;
        font-size: 22px;
    }

    .section-hébergements
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .première-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
    }

    .cases-hébergements
    {
        height: 400px;
        width: 111%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #F2F2F2;
    }

    img[src="images/hebergements/small/marcusloke.jpg"]
    {
        height: 320px;
        width: 100%;
    }

    img[src="images/hebergements/small/fredkleber.jpg"]
    {
        height: 320px;
        width: 100%;
    }

    img[src="images/hebergements/small/reisetopia.jpg"]
    {
        height: 320px;
        width: 100%;
    }

    .titres-hébergements
    {
        font-size: 16px;
        margin-top: 5px;
    }

    .textes-hébergements
    {
        font-size: 14px;
    }

    .logo-4-étoiles
    {
        font-size: 14px;
    }

    .logo-5-étoiles
    {
        font-size: 14px;
    }

    .logo-3-étoiles
    {
        font-size: 14px;
    }

    .deuxième-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    img[src="images/hebergements/small/anniespratt.jpg"]
    {
        height: 320px;
        width: 100%;
    }

    img[src="images/hebergements/small/nicatelee.jpg"]
    {
        height: 320px;
        width: 100%;
    }

    img[src="images/hebergements/small/febrianzakaria.jpg"]
    {
        height: 320px;
        width: 100%;
    }

    .afficherplus
    {
        margin: 20px 0px 0px 20px;
        font-size: 20px;
    }

    #section-activités-à-Marseille
    {
        margin: 2200px 0px 20px 0px;
    }

    .section-titre-activités-à-Marseille
    {
        margin: 0px 0px 20px 15px;
        font-size: 22px;
    }
    
    .ligne-horizontal-section-activités-à-Marseille
    {
        display: flex;
        flex-direction: column;
    }

    a[href="liens-section-activités-à-Marseille"]
    {
        font-size: 16px;
        margin-top: 20px;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 325px;
    }

    img[src="images/activites/small/renolaithienne.jpg"]
    {
        height: 275px;
        width: 100%;
    }

    .case-Fort-de-Pomègues
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 325px;
    }

    img[src="images/activites/small/paulhermann.jpg"]
    {
        height: 275px;
        width: 100%;
    }

    .case-îles-du-Frioul
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 315px;
    }

    img[src="images/activites/small/kevinhikari.jpg"]
    {
        height: 275px;
        width: 100%;
    }

    img[src="images/activites/small/kilyansockalingum.jpg"]
    {
        height: 275px;
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 325px;
    }

    img[src="images/activites/small/florianwehde.jpg"]
    {
        height: 275px;
        width: 100%;
    }

    .case-parc-longchamp
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 325px;
    }

    img[src="images/activites/small/lenapaulin.jpg"]
    {
        height: 275px;
        width: 100%;
    }

    .pied-de-la-page
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px 0px 0px 20px;
        width: 116%;
    }

    .sections-pied-de-la-page
    {
        padding-bottom: 20px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 16px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 14px;
    }
}

@media all and (min-width: 1085px) and (max-width: 1299px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 20px 0px 10px 0px;
        width: 100%;
        display: block;
    }

    img[src="images/logo/Reservia.svg"]
    {
        margin-left: 15px;
    }

    a[href="inscription"]
    {
        margin: 0px;
    }

    a[href="#section-hébergements-les-plus-populaires"]
    {
        padding-right: 30%;
    }

    a[href="#section-hébergements-les-plus-populaires"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    a[href="#section-activités-à-Marseille"]
    {
        margin: 0px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    .section-principale
    {
        margin: 0px;
    }

    .section-titre
    {
        font-size: 29px;
        margin-left: 15px;
    }

    .section-texte
    {
        margin: 10px 0px 20px 15px;
        font-size: 22px;
    }

    form
    {
        display: flex;
        margin: 20px 0px 0px 15px;
    }

    input
    {
        width: 280px;
    }

    button
    {
        padding: 0px;
        border: 0px;
        width: 40px;
        border-radius: 10px;
    }

    .logoloupe
    {
        display: block;
        padding-top: 10px;
    }

    .textebouton
    {
        visibility: hidden;
    }

    .section-filtres
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .texte-filtre
    {
        font-size: 20px;
    }

    .section-filtres-2
    {
        display: flex;
        flex-wrap: wrap;
    }

    .filtre-economique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 160px;
        font-size: 16px;
    }

    .filtre-familial
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 125px;
        font-size: 16px;
    }

    .filtre-romantique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 155px;
        font-size: 16px;
    }
    
    .filtre-animauxautorisés
    {
        padding: 0px;
        width: 205px;
        margin: 0px 0px 10px 0px;
        font-size: 16px;
    }
    
    #section-hébergements-les-plus-populaires
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .section-les-plus-populaires
    {
        padding: 20px 0px 0px 0px;
        border-radius: 0px;
        width: 118%;
        height: 2000px;
    }

    .section-titre-les-plus-populaires
    {
        margin: 0px 30px 0px 20px;
        font-size: 17px;
    }

    .fa-chart-line
    {
        font-size: 22px;
    }

    .cases-les-plus-populaires
    {
        height: 580px;
        width: 94%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #f2f2f2;
        display: flex;
        flex-direction: column;
    }

    img[src="images/hebergements/small/emileguillemot.jpg"]
    {
        height: 470px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/awcreative.jpg"]
    {
        height: 470px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/febrianzakariaa.jpg"]
    {
        height: 470px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    a[href="liens-les-plus-populaires"]
    {
        font-size: 18px;
    }

    .textes-les-plus-populaires
    {
        margin: 5px 0px 5px 0px;
        font-size: 16px;
    }

    .logo-5-étoiles-populaires
    {
        margin: 0px;
        font-size: 16px;
    }

    .logo-4-étoiles-populaires
    {
        margin: 0px;
        font-size: 16px;
    }   

    .section-titre-hébergements-à-Marseille
    {
        margin: 10px 0px 15px 20px;
        font-size: 24px;
    }

    .section-hébergements
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .première-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
    }

    .cases-hébergements
    {
        height: 545px;
        width: 111%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #F2F2F2;
    }

    img[src="images/hebergements/small/marcusloke.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    img[src="images/hebergements/small/fredkleber.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    img[src="images/hebergements/small/reisetopia.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    .titres-hébergements
    {
        font-size: 18px;
        margin-top: 5px;
    }

    .textes-hébergements
    {
        font-size: 16px;
    }

    .logo-4-étoiles
    {
        font-size: 16px;
    }

    .logo-5-étoiles
    {
        font-size: 16px;
    }

    .logo-3-étoiles
    {
        font-size: 16px;
    }

    .deuxième-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    img[src="images/hebergements/small/anniespratt.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    img[src="images/hebergements/small/nicatelee.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    img[src="images/hebergements/small/febrianzakaria.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    .afficherplus
    {
        margin: 20px 0px 0px 20px;
        font-size: 22px;
    }

    #section-activités-à-Marseille
    {
        margin: 3100px 0px 20px 0px;
    }

    .section-titre-activités-à-Marseille
    {
        margin: 0px 0px 20px 15px;
        font-size: 24px;
    }
    
    .ligne-horizontal-section-activités-à-Marseille
    {
        display: flex;
        flex-direction: column;
    }

    a[href="liens-section-activités-à-Marseille"]
    {
        font-size: 18px;
        margin-top: 20px;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 510px;
    }

    img[src="images/activites/small/renolaithienne.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    .case-Fort-de-Pomègues
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 510px;
    }

    img[src="images/activites/small/paulhermann.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    .case-îles-du-Frioul
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 480px;
    }

    img[src="images/activites/small/kevinhikari.jpg"]
    {
        height: 440px;
        width: 100%;
    }

    img[src="images/activites/small/kilyansockalingum.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 510px;
    }

    img[src="images/activites/small/florianwehde.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    .case-parc-longchamp
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 510px;
    }

    img[src="images/activites/small/lenapaulin.jpg"]
    {
        height: 460px;
        width: 100%;
    }

    .pied-de-la-page
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px 0px 0px 20px;
        width: 116%;
    }

    .sections-pied-de-la-page
    {
        padding-bottom: 20px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 18px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 16px;
    }
}
/*
@media all and (min-width: 1300px) and (max-width: 1900px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 20px 0px 10px 0px;
        width: 100%;
        display: block;
    }

    img[src="images/logo/Reservia.svg"]
    {
        margin-left: 15px;
    }

    a[href="inscription"]
    {
        margin: 0px;
    }

    a[href="#section-hébergements-les-plus-populaires"]
    {
        padding-right: 30%;
    }

    a[href="#section-hébergements-les-plus-populaires"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    a[href="#section-activités-à-Marseille"]
    {
        margin: 0px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    .section-principale
    {
        margin: 0px;
    }

    .section-titre
    {
        font-size: 32px;
        margin-left: 15px;
    }

    .section-texte
    {
        margin: 10px 0px 20px 15px;
        font-size: 25px;
    }

    form
    {
        display: flex;
        margin: 20px 0px 0px 15px;
    }

    input
    {
        width: 280px;
    }

    button
    {
        padding: 0px;
        border: 0px;
        width: 40px;
        border-radius: 10px;
    }

    .logoloupe
    {
        display: block;
        padding-top: 10px;
    }

    .textebouton
    {
        visibility: hidden;
    }

    .section-filtres
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .texte-filtre
    {
        font-size: 23px;
    }

    .section-filtres-2
    {
        display: flex;
        flex-wrap: wrap;
    }

    .filtre-economique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 190px;
        font-size: 19px;
    }

    .fa-money-bill-wave
    {
        font-size: 25px;
        border-radius: 30px;
    }

    .filtre-familial
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 140px;
        font-size: 19px;
    }

    .fa-child
    {
        font-size: 25px;
        border-radius: 30px;
    }

    .filtre-romantique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 180px;
        font-size: 19px;
    }

    .fa-heart
    {
        font-size: 25px;
        border-radius: 30px;
    }
    
    .filtre-animauxautorisés
    {
        padding: 0px;
        width: 240px;
        margin: 0px 0px 10px 0px;
        font-size: 19px;
    }

    .fa-dog
    {
        font-size: 25px;
        border-radius: 30px;        
    }
    
    #section-hébergements-les-plus-populaires
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .section-les-plus-populaires
    {
        padding: 20px 0px 0px 0px;
        border-radius: 0px;
        width: 117%;
        height: 2500px;
    }

    .section-titre-les-plus-populaires
    {
        margin: 0px 30px 0px 20px;
        font-size: 20px;
    }

    .fa-chart-line
    {
        font-size: 25px;
    }

    .cases-les-plus-populaires
    {
        height: 730px;
        width: 94%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #f2f2f2;
        display: flex;
        flex-direction: column;
    }

    img[src="images/hebergements/small/emileguillemot.jpg"]
    {
        height: 600px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/awcreative.jpg"]
    {
        height: 600px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/febrianzakariaa.jpg"]
    {
        height: 600px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    a[href="liens-les-plus-populaires"]
    {
        font-size: 21px;
    }

    .textes-les-plus-populaires
    {
        margin: 5px 0px 5px 0px;
        font-size: 19px;
    }

    .logo-5-étoiles-populaires
    {
        margin: 0px;
        font-size: 20px;
    }

    .logo-4-étoiles-populaires
    {
        margin: 0px;
        font-size: 20px;
    }   

    .section-titre-hébergements-à-Marseille
    {
        margin: 10px 0px 15px 20px;
        font-size: 27px;
    }

    .section-hébergements
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .première-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
    }

    .cases-hébergements
    {
        height: 700px;
        width: 111%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #F2F2F2;
    }

    img[src="images/hebergements/small/marcusloke.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    img[src="images/hebergements/small/fredkleber.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    img[src="images/hebergements/small/reisetopia.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    .titres-hébergements
    {
        font-size: 22px;
        margin-top: 5px;
    }

    .textes-hébergements
    {
        font-size: 20px;
    }

    .logo-4-étoiles
    {
        font-size: 20px;
    }

    .logo-5-étoiles
    {
        font-size: 20px;
    }

    .logo-3-étoiles
    {
        font-size: 20px;
    }

    .deuxième-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    img[src="images/hebergements/small/anniespratt.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    img[src="images/hebergements/small/nicatelee.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    img[src="images/hebergements/small/febrianzakaria.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    .afficherplus
    {
        margin: 20px 0px 0px 20px;
        font-size: 25px;
    }

    #section-activités-à-Marseille
    {
        margin: 4000px 0px 20px 0px;
    }

    .section-titre-activités-à-Marseille
    {
        margin: 0px 0px 20px 15px;
        font-size: 28px;
    }
    
    .ligne-horizontal-section-activités-à-Marseille
    {
        display: flex;
        flex-direction: column;
    }

    a[href="liens-section-activités-à-Marseille"]
    {
        font-size: 21px;
        margin-top: 25px;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 620px;
    }

    img[src="images/activites/small/renolaithienne.jpg"]
    {
        height: 560px;
        width: 100%;
    }

    .case-Fort-de-Pomègues
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 620px;
    }

    img[src="images/activites/small/paulhermann.jpg"]
    {
        height: 560px;
        width: 100%;
    }

    .case-îles-du-Frioul
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 590px;
    }

    img[src="images/activites/small/kevinhikari.jpg"]
    {
        height: 540px;
        width: 100%;
    }

    img[src="images/activites/small/kilyansockalingum.jpg"]
    {
        height: 560px;
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 620px;
    }

    img[src="images/activites/small/florianwehde.jpg"]
    {
        height: 560px;
        width: 100%;
    }

    .case-parc-longchamp
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 620px;
    }

    img[src="images/activites/small/lenapaulin.jpg"]
    {
        height: 560px;
        width: 100%;
    }

    .pied-de-la-page
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px 0px 0px 20px;
        width: 116%;
    }

    .sections-pied-de-la-page
    {
        padding-bottom: 20px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 21px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 19px;
    }
}
*/
/*
@media all and (min-width: 1901px) and (max-width: 2560px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    #header-conteneur
    {
        margin: 20px 0px 10px 0px;
        width: 100%;
        display: block;
    }

    img[src="images/logo/Reservia.svg"]
    {
        margin-left: 15px;
    }

    a[href="inscription"]
    {
        margin: 0px;
    }

    a[href="#section-hébergements-les-plus-populaires"]
    {
        padding-right: 30%;
    }

    a[href="#section-hébergements-les-plus-populaires"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    a[href="#section-activités-à-Marseille"]
    {
        margin: 0px;
    }

    a[href="#section-activités-à-Marseille"]:hover
    {
        border-bottom: 2px blue solid;
        border-top: none;
        padding: 30px 40px 0px 40px;
    }

    .section-principale
    {
        margin: 0px;
    }

    .section-titre
    {
        font-size: 32px;
        margin-left: 15px;
    }

    .section-texte
    {
        margin: 10px 0px 20px 15px;
        font-size: 25px;
    }

    form
    {
        display: flex;
        margin: 20px 0px 0px 15px;
    }

    input
    {
        width: 280px;
    }

    button
    {
        padding: 0px;
        border: 0px;
        width: 40px;
        border-radius: 10px;
    }

    .logoloupe
    {
        display: block;
        padding-top: 10px;
    }

    .textebouton
    {
        visibility: hidden;
    }

    .section-filtres
    {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .texte-filtre
    {
        font-size: 23px;
    }

    .section-filtres-2
    {
        display: flex;
        flex-wrap: wrap;
    }

    .filtre-economique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 190px;
        font-size: 19px;
    }

    .fa-money-bill-wave
    {
        font-size: 25px;
        border-radius: 30px;
    }

    .filtre-familial
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 140px;
        font-size: 19px;
    }

    .fa-child
    {
        font-size: 25px;
        border-radius: 30px;
    }

    .filtre-romantique
    {
        padding: 0px;
        margin: 0px 10px 10px 0px;
        width: 180px;
        font-size: 19px;
    }

    .fa-heart
    {
        font-size: 25px;
        border-radius: 30px;
    }
    
    .filtre-animauxautorisés
    {
        padding: 0px;
        width: 240px;
        margin: 0px 0px 10px 0px;
        font-size: 19px;
    }

    .fa-dog
    {
        font-size: 25px;
        border-radius: 30px;        
    }
    
    #section-hébergements-les-plus-populaires
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .section-les-plus-populaires
    {
        padding: 20px 0px 0px 0px;
        border-radius: 0px;
        width: 117%;
        height: 2500px;
    }

    .section-titre-les-plus-populaires
    {
        margin: 0px 30px 0px 20px;
        font-size: 20px;
    }

    .fa-chart-line
    {
        font-size: 25px;
    }

    .cases-les-plus-populaires
    {
        height: 730px;
        width: 94%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #f2f2f2;
        display: flex;
        flex-direction: column;
    }

    img[src="images/hebergements/small/emileguillemot.jpg"]
    {
        height: 600px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/awcreative.jpg"]
    {
        height: 600px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    img[src="images/hebergements/small/febrianzakariaa.jpg"]
    {
        height: 600px;
        width: 100%;
        border: 1px solid white;
        border-radius: 20px 20px 1px 1px;
    }

    a[href="liens-les-plus-populaires"]
    {
        font-size: 21px;
    }

    .textes-les-plus-populaires
    {
        margin: 5px 0px 5px 0px;
        font-size: 19px;
    }

    .logo-5-étoiles-populaires
    {
        margin: 0px;
        font-size: 20px;
    }

    .logo-4-étoiles-populaires
    {
        margin: 0px;
        font-size: 20px;
    }   

    .section-titre-hébergements-à-Marseille
    {
        margin: 10px 0px 15px 20px;
        font-size: 27px;
    }

    .section-hébergements
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .première-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
    }

    .cases-hébergements
    {
        height: 700px;
        width: 111%;
        margin: 0px 0px 10px 20px;
        padding: 3px 5px 5px 3px;
        box-shadow: 1px 1px 5px 3px #F2F2F2;
    }

    img[src="images/hebergements/small/marcusloke.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    img[src="images/hebergements/small/fredkleber.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    img[src="images/hebergements/small/reisetopia.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    .titres-hébergements
    {
        font-size: 22px;
        margin-top: 5px;
    }

    .textes-hébergements
    {
        font-size: 20px;
    }

    .logo-4-étoiles
    {
        font-size: 20px;
    }

    .logo-5-étoiles
    {
        font-size: 20px;
    }

    .logo-3-étoiles
    {
        font-size: 20px;
    }

    .deuxième-ligne-hébergements
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    img[src="images/hebergements/small/anniespratt.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    img[src="images/hebergements/small/nicatelee.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    img[src="images/hebergements/small/febrianzakaria.jpg"]
    {
        height: 600px;
        width: 100%;
    }

    .afficherplus
    {
        margin: 20px 0px 0px 20px;
        font-size: 25px;
    }

    #section-activités-à-Marseille
    {
        margin: 4000px 0px 20px 0px;
    }

    .section-titre-activités-à-Marseille
    {
        margin: 0px 0px 20px 15px;
        font-size: 28px;
    }
    
    .ligne-horizontal-section-activités-à-Marseille
    {
        display: flex;
        flex-direction: column;
    }

    a[href="liens-section-activités-à-Marseille"]
    {
        font-size: 21px;
        margin-top: 25px;
    }

    .case-vieux-port-et-parc-des-calanques
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 620px;
    }

    img[src="images/activites/small/renolaithienne.jpg"]
    {
        height: 560px;
        width: 100%;
    }

    .case-Fort-de-Pomègues
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 620px;
    }

    img[src="images/activites/small/paulhermann.jpg"]
    {
        height: 560px;
        width: 100%;
    }

    .case-îles-du-Frioul
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 590px;
    }

    img[src="images/activites/small/kevinhikari.jpg"]
    {
        height: 540px;
        width: 100%;
    }

    img[src="images/activites/small/kilyansockalingum.jpg"]
    {
        height: 560px;
        width: 100%;
    }

    .case-notre-dame-de-la-garde
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 620px;
    }

    img[src="images/activites/small/florianwehde.jpg"]
    {
        height: 560px;
        width: 100%;
    }

    .case-parc-longchamp
    {
        margin: 0px 0px 20px 20px;
        width: 112%;
        height: 620px;
    }

    img[src="images/activites/small/lenapaulin.jpg"]
    {
        height: 560px;
        width: 100%;
    }

    .pied-de-la-page
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px 0px 0px 20px;
        width: 116%;
    }

    .sections-pied-de-la-page
    {
        padding-bottom: 20px;
    }

    .sections-titre-pied-de-la-page
    {
        font-size: 21px;
    }

    a[href="liens-pied-de-la-page"]
    {
        font-size: 19px;
    }
}
*/