@font-face
{
    font-family: Raleway-Regular;
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face
{
    font-family: Raleway-SemiBold;
    src: url('fonts/Raleway-SemiBold.ttf');
}

@font-face
{
    font-family: Raleway-Bold;
    src:  url('fonts/Raleway-Bold.ttf');
}

#conteneur1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
}

a[href="#section-hebergements"]
{
    text-decoration: overline;
    color: #0065FC;
    font-family: Raleway-SemiBold;
    margin-left: 600px;
    font-size: 15px;
}

a[href="#section-activites"]
{
    color: black;
    text-decoration: none;
    font-family: Raleway-SemiBold;
    font-size: 15px;
}

a[href="inscription"]
{
    color: #0065FC;
    text-decoration: none;
    font-family: Raleway-Bold;
    font-size: 15px;
}

.titre1
{
	font-size: 18px;
    font-family: Raleway-Bold;
    margin-top: 30px;
    margin-bottom: 5px;
}

.para
{
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-family: Raleway-Regular;
}

mark
{
    font-size: 15px;
    background-color: #F2F2F2;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 13px;
    border-radius: 13px 1px 1px 13px;
}

input
{
    border: 1px #F2F2F2 solid;
    font-size: 8px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 17px;
    padding-bottom: 12px;
    padding-right: 90px;
}

button
{
    background-color: #0065FC;
    border: 1px #0065FC solid;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 12px;
    padding-left: 15px;
    border-radius: 1px 13px 13px 1px;
    color: white;
    font-family: Raleway-SemiBold;
}

#conteneur2
{
    display: flex;
    justify-content: flex-start;
    align-items: baseline; 
    margin-top: 30px;
    margin-right: 20px;
}

.filtre
{
    font-size: 15px;
    font-family: Raleway-Bold;
    margin-left: 5px;
}

.eco
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 40px 40px 40px 40px;
    padding-right: 15px;
    font-family: Raleway-Bold;
    margin-left: 20px;
}

.eco:hover
{
    text-decoration: underline;
    color: grey;
}

.fa-money-bill-wave
{
    color: #0065FC;
    margin-right: 10px;
    font-size: 15px;
    border: 10px solid #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
}

.fam
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 40px 40px 40px 40px;
    padding-right: 15px;
    font-family: Raleway-Bold;
    margin-left: 20px;
}

.fam:hover
{
    text-decoration: underline;
    color: grey;
}

.fa-child
{
    color: #0065FC;
    margin-right: 10px;
    font-size: 15px;
    border: 10px solid #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
}

.rom
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 40px 40px 40px 40px;
    padding-right: 15px;
    font-family: Raleway-Bold;
    margin-left: 20px;
}

.rom:hover
{
    text-decoration: underline;
    color: grey;
}

.fa-heart
{
    color: #0065FC;
    margin-right: 10px;
    font-size: 15px;
    border: 10px solid #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    padding-left: 3px;
}

.ani
{
    font-size: 15px;
    border: 2px solid #F2F2F2;
    border-left-width: 0px;
    border-radius: 40px 40px 40px 40px;
    padding-right: 15px;
    font-family: Raleway-Bold;
    margin-left: 20px; 
}

.ani:hover
{
    text-decoration: underline;
    color: grey;
}

.fa-dog
{
    color: #0065FC;
    margin-right: 10px;
    font-size: 15px;
    border: 10px solid #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    background-color: #DEEBFF;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    padding-left: 3px;
}

.fa-info
{
    margin-right: 10px;
    font-size: 10px;
    color: #0065FC;
    border: 1px #F2F2F2 solid;
    border-radius: 10px 10px 10px 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.paraa
{
     font-family: Raleway-Regular;
     font-size: 13px;
}

section
{
    display: flex;
}

#conteneur3
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 26px;
    padding-right: 26px;
    margin-right: 25px;
    width: 750px;
    height: 460px;
    padding-bottom: 40px;
}

.titre2
{
    font-size: 18px;
    font-family: Raleway-Bold;
}

#conteneur4
{
    display: flex;
}

#conteneur5
{
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 3px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 190px;
    height: 160px;
}

img[src="images/hebergements/small/marcusloke.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.can
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Raleway-Bold;
    font-size: 13px;
    margin-left: 8px;
}

a[href="can"]
{
    text-decoration: none;
    color: black;
}

.nuit25
{
    margin-bottom: 0px;
    font-family: Raleway-Regular;
    margin-top: 4px;
    font-size: 12px;
    margin-left: 8px;
}

.aub
{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 11px;
    color: #0065FC;
}

#conteneur6
{
    margin-left: 40px;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 3px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 190px;
    height: 160px;
}

img[src="images/hebergements/small/fredkleber.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.port
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Raleway-Bold;
    font-size: 13px;
    margin-left: 8px;
}

a[href="port"]
{
    text-decoration: none;
    color: black;
}

.nuit52
{
    margin-bottom: 0px;
    font-family: Raleway-Regular;
    margin-top: 4px;
    font-size: 12px;
    margin-left: 8px;
}

.leport
{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 11px;
    color: #0065FC;
}

#conteneur7
{
    margin-left: 40px;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 3px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 190px;
    height: 160px;
}

img[src="images/hebergements/small/reisetopia.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.mouettes
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Raleway-Bold;
    font-size: 13px;
    margin-left: 8px;
}

a[href="mouettes"]
{
    text-decoration: none;
    color: black;
}

.nuit76
{
    margin-bottom: 0px;
    font-family: Raleway-Regular;
    margin-top: 4px;
    font-size: 12px;
    margin-left: 8px;
}

.lesmouettes
{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 11px;
    color: #0065FC;
}

#conteneur8
{
    display: flex;
    margin-top: 30px;
}

#conteneur9
{
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 3px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 190px;
    height: 160px;
}

img[src="images/hebergements/small/anniespratt.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.mer
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Raleway-Bold;
    font-size: 13px;
    margin-left: 8px;
}

a[href="mer"]
{
    text-decoration: none;
    color: black;
}

.nuit46
{
    margin-bottom: 0px;
    font-family: Raleway-Regular;
    margin-top: 4px;
    font-size: 12px;
    margin-left: 8px;
}

.lamer
{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 11px;
    color: #0065FC;
}

.afficherplus
{
    font-family: Raleway-Bold;
    margin-top: 40px;
    margin-bottom: 0px;
}

#conteneur10
{
    margin-left: 40px;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 3px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 190px;
    height: 160px;
}

img[src="images/hebergements/small/nicatelee.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.panier
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Raleway-Bold;
    font-size: 13px;
    margin-left: 8px;
}

a[href="panier"]
{
    text-decoration: none;
    color: black;
}

.nuit23
{
    margin-bottom: 0px;
    font-family: Raleway-Regular;
    margin-top: 4px;
    font-size: 12px;
    margin-left: 8px;
}

.lepanier
{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 11px;
    color: #0065FC;
}

#conteneur11
{
    margin-left: 40px;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 3px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 190px;
    height: 160px;
}

img[src="images/hebergements/small/febrianzakaria.jpg"]
{
    width: 190px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px 20px 1px 1px;
}

.amina
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Raleway-Bold;
    font-size: 13px;
    margin-left: 8px;
}

a[href="amina"]
{
    text-decoration: none;
    color: black;
}

.nuit96
{
    margin-bottom: 0px;
    font-family: Raleway-Regular;
    margin-top: 4px;
    font-size: 12px;
    margin-left: 8px;
}

.chezamina
{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 11px;
    color: #0065FC;
}

#conteneur12
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.titre3
{
    font-family: Raleway-Bold;
    font-size: 18px;
    padding-top: 10px;
}

.fa-chart-line
{
    padding-left: 100px;
}

#conteneur13
{
    display: flex;
    padding-left: 2px;
    padding-top: 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 290px;
    height: 115px;
}

img[src="images/hebergements/small/emileguillemot.jpg"]
{
    width: 120px;
    height: 110px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    margin-right: 15px;
}

.soleil
{
    margin-top: 10px;
}

a[href="soleil"]
{
    text-decoration: none;
    color: black;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.nuit128
{
    font-family: Raleway-Regular;
    font-size: 12px;
    margin-top: 5px;
}

.dusoleil
{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 10px;
    color: #0065FC;
}

#conteneur14
{
    display: flex;
    padding-left: 2px;
    padding-top: 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 290px;
    margin-top: 30px;
    height: 115px;
}

img[src="images/hebergements/small/awcreative.jpg"]
{
    width: 120px;
    height: 110px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    margin-right: 15px;
}

.coeur
{
    margin-top: 10px;
}

a[href="coeur"]
{
    text-decoration: none;
    color: black;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.nuit71
{
    font-family: Raleway-Regular;
    font-size: 12px;
    margin-top: 5px;
}

.coeurdeleau
{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 10px;
    color: #0065FC;
}

#conteneur15
{
    display: flex;
    padding-left: 2px;
    padding-top: 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 290px;
    margin-top: 30px;
    height: 115px;
}

img[src="images/hebergements/small/febrianzakariaa.jpg"]
{
   width: 120px;
    height: 110px;
    border: 1px solid white;
    border-radius: 20px 1px 1px 20px;
    margin-right: 15px;
}

.bleu
{
    margin-top: 10px;
}

a[href="bleu"]
{
    text-decoration: none;
    color: black;
    font-family: Raleway-Bold;
    font-size: 13px;
}

.nuit68
{
    font-family: Raleway-Regular;
    font-size: 12px;
    margin-top: 5px;
}

.blanc
{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 10px;
    color: #0065FC;
}
